<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-akses" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Nama" },
          { title: "Path" },
          { title: "Icon" },
          { title: "C" },
          { title: "R" },
          { title: "U" },
          { title: "D" },
          { title: "Role" },
          { title: "Parent" },
          { title: "Action" },

      ],
      columnDefs: [
          {
              "targets": [4,5,6,7], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 4,5,6,7,8,10], // your case first column
              "width" : "5%"
          }
      ],
    });

    window.getParent = function(){
      var roleId = document.getElementById("role-dropdown").value;

      let dropdownParent = document.getElementById('parent-dropdown');
      dropdownParent.length = 0;
      fetch('/aksesMenu/filter?roleId='+roleId) 
      .then(  
      function(response) {  
        let defaultOption = document.createElement('option');
        defaultOption.text = 'Pilih Parent';
        defaultOption.value = '';
        dropdownParent.add(defaultOption);
        
        response.json().then(function(data) {  
          console.log(data);
          let option;
          for (let i = 0; i < data.data.length; i++) {
              option = document.createElement('option');
              option.text = data.data[i].nama;
              option.value = data.data[i].id;
              dropdownParent.add(option);
          }    
        });  
        }  
      )  
      .catch(function(err) {  
        alert('Fetch Error -', err);  
      });
    }

    window.getParentEdit = function(parentId){
      var roleId = document.getElementById("role-dropdown-edit").value;
      let dropdownParentEdit = document.getElementById('parent-dropdown-edit');
      dropdownParentEdit.length = 0;
      fetch('/aksesMenu/filter?roleId='+roleId) 
      .then(  
      function(response) {  
        let defaultOption = document.createElement('option');
        defaultOption.text = 'Pilih Parent';
        defaultOption.value = '';
        dropdownParentEdit.add(defaultOption);

        response.json().then(function(data) {  
          let option;
          for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownParentEdit.add(option);
            if(parentId === data.data[i].id){
              document.getElementById("parent-dropdown-edit").value = data.data[i].id;
            }
          }    
        });  
        }  
      )  
      .catch(function(err) {  
        alert('Fetch Error -', err);  
      });
    }

    let dropdownRole = document.getElementById('role-dropdown');
    dropdownRole.length = 0;
    fetch('/role/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Role';
      defaultOption.value = '';
      dropdownRole.add(defaultOption);
      dropdownRole.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].name;
            option.value = data.data[i].id;
            dropdownRole.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownRoleEdit = document.getElementById('role-dropdown-edit');
    dropdownRoleEdit.length = 0;
    fetch('/role/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Role';
      defaultOption.value = '';
      dropdownRoleEdit.add(defaultOption);
      dropdownRoleEdit.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].name;
            option.value = data.data[i].id;
            dropdownRoleEdit.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    $('.btnSave').on('click', function(){
        var roleId = document.getElementById("role-dropdown").value;
        var parentId = document.getElementById("parent-dropdown").value;
        var nama = document.getElementById("addNama").value;
        var path = document.getElementById("addPath").value;
        var icon = document.getElementById("addIcon").value;
        
        var aksesCreate = "N";
        var aksesRead = "N";
        var aksesUpdate = "N";
        var aksesDelete = "N";

        if ($('#aksesCreate').is(":checked"))
        {
           aksesCreate = "Y";
        }
        if ($('#aksesRead').is(":checked"))
        {
           aksesRead = "Y";
        }
        if ($('#aksesUpdate').is(":checked"))
        {
           aksesUpdate = "Y";
        }
        if ($('#aksesDelete').is(":checked"))
        {
           aksesDelete = "Y";
        }

        //alert(roleId + " - " + parentId + " - " + nama + " - " + path + " - " + icon + " - " + aksesCreate + " - " + aksesRead + " - " + aksesUpdate + " - " + aksesDelete);
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/aksesMenu/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              role: roleId,
              parentId: parentId,
              nama: nama,
              path: path,
              icon: icon,
              create: aksesCreate,
              read: aksesRead,
              update: aksesUpdate,
              delete: aksesDelete
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-akses').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/aksesMenu/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-divisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var roleId = document.getElementById("role-dropdown-edit").value;
        var parentId = document.getElementById("parent-dropdown-edit").value;
        var nama = document.getElementById("editNama").value;
        var path = document.getElementById("editPath").value;
        var icon = document.getElementById("editIcon").value;
        
        var aksesCreate = "N";
        var aksesRead = "N";
        var aksesUpdate = "N";
        var aksesDelete = "N";

        if ($('#aksesCreateEdit').is(":checked"))
        {
           aksesCreate = "Y";
        }
        if ($('#aksesReadEdit').is(":checked"))
        {
           aksesRead = "Y";
        }
        if ($('#aksesUpdateEdit').is(":checked"))
        {
           aksesUpdate = "Y";
        }
        if ($('#aksesDeleteEdit').is(":checked"))
        {
           aksesDelete = "Y";
        }

        //alert(roleId + " - " + parentId + " - " + nama + " - " + path + " - " + icon + " - " + aksesCreate + " - " + aksesRead + " - " + aksesUpdate + " - " + aksesDelete);
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/aksesMenu/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id : id,
              role: roleId,
              parentId: parentId,
              nama: nama,
              path: path,
              icon: icon,
              create: aksesCreate,
              read: aksesRead,
              update: aksesUpdate,
              delete: aksesDelete
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-akses').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editAkses = function(id){
      fetch('/aksesMenu/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("role-dropdown-edit").value = response.data.role.id;
          $( "#aksesCreateEdit").prop('checked', false);
          $( "#aksesReadEdit").prop('checked', false);
          $( "#aksesUpdateEdit").prop('checked', false);
          $( "#aksesDeleteEdit").prop('checked', false);

          const secondFunction = async () => {
            const result = await getParentEdit(response.data.parentId);
            document.getElementById("idEdit").value = response.data.id;
            document.getElementById("editNama").value = response.data.nama;
            document.getElementById("editPath").value = response.data.path;
            document.getElementById("editIcon").value = response.data.icon;
            $('#modal-edit-akses').modal('show');
          }
          if (response.data.create == "Y"){
            $( "#aksesCreateEdit").prop('checked', true);
          }
          if(response.data.read == "Y"){
            $( "#aksesReadEdit").prop('checked', true);
          }
          if(response.data.update == "Y"){
            $( "#aksesUpdateEdit").prop('checked', true);
          }
          if(response.data.delete == "Y"){
            $( "#aksesDeleteEdit").prop('checked', true);
          }
          
          secondFunction();
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusAkses = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      fetch('/aksesMenu/all') 
        .then(response => response.json())
        .then((response) => {
          console.log();
          if(response.success){
            var no = 0;
            
            $.each( response.data, function( key, value ) {
              no++;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editAkses(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusAkses(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var tmp = [no, value.nama, value.path, value.icon, value.create, value.read, value.update, value.delete, value.role.name, value.parentName, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-akses">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="role-dropdown" class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <select id="role-dropdown" class="form-control" onchange="getParent()" name="selectRole"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="parent-dropdown" class="col-sm-3 col-form-label">Parent</label>
              <div class="col-sm-9">
                <select id="parent-dropdown" class="form-control" name="selectParent"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama Akses">
              </div>
            </div>

            <div class="form-group row">
              <label for="addPath" class="col-sm-3 col-form-label">Path</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addPath" placeholder="Path Menu">
              </div>
            </div>

            <div class="form-group row">
              <label for="addIcon" class="col-sm-3 col-form-label">Icon</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addIcon" placeholder="Icon">
              </div>
            </div>

            <div class="form-group row">
              <label for="aksesCreate" class="col-sm-3 col-form-label">Create</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="aksesCreate" checked>
              </div>
            </div>

            <div class="form-group row">
              <label for="aksesRead" class="col-sm-3 col-form-label">Read</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="aksesRead" checked>
              </div>
            </div>

            <div class="form-group row">
              <label for="aksesUpdate" class="col-sm-3 col-form-label">Update</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="aksesUpdate" checked>
              </div>
            </div>

            <div class="form-group row">
              <label for="aksesDelete" class="col-sm-3 col-form-label">Delete</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="aksesDelete" checked>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-setting-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Setting Akses</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="settingId" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingId" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="settingNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingNama" readonly>
              </div>
            </div>
            <div class="tmpModalSetting"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEditSetting">Edit Data  </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-akses">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="role-dropdown-edit" class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <select id="role-dropdown-edit" class="form-control" onchange="getParentEdit(0)" name="selectRole"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="parent-dropdown-edit" class="col-sm-3 col-form-label">Parent</label>
              <div class="col-sm-9">
                <select id="parent-dropdown-edit" class="form-control" name="selectParent"></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editNama" placeholder="Nama Akses">
              </div>
            </div>

            <div class="form-group row">
              <label for="editPath" class="col-sm-3 col-form-label">Path</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editPath" placeholder="Path Menu">
              </div>
            </div>

            <div class="form-group row">
              <label for="editIcon" class="col-sm-3 col-form-label">Icon</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editIcon" placeholder="Icon">
              </div>
            </div>

            <div class="form-group row">
              <label for="aksesCreateEdit" class="col-sm-3 col-form-label">Create</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="aksesCreateEdit" >
              </div>
            </div>

            <div class="form-group row">
              <label for="aksesReadEdit" class="col-sm-3 col-form-label">Read</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="aksesReadEdit" >
              </div>
            </div>

            <div class="form-group row">
              <label for="aksesUpdateEdit" class="col-sm-3 col-form-label">Update</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="aksesUpdateEdit" >
              </div>
            </div>

            <div class="form-group row">
              <label for="aksesDeleteEdit" class="col-sm-3 col-form-label">Delete</label>
              <div class="col-sm-9 custom-checkbox">
                <input type="checkbox" id="aksesDeleteEdit">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


