<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row" id="data1">
          </div>

          <div class="row" id="data2">
          </div>

          <div class="row" id="data3">
          </div>

        <div class="card card-primary card-outline">
          <div class="card-header">
            <div class="row">
              <div class="col-md-3">
                <h5 class="m-0" style="padding-top: 6px;"><i class="fas fa-edit"></i> Selamat Datang</h5>
              </div>
              <div class="col-md-6">
              </div>
              <div class="col-md-3">
                <select id="viaPembayaran" class="form-control" name="viaPembayaran">
                </select>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-title">{{profile.fullname}}</h6>

            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs" id="myTabs" role="tablist">
                  {{# each data.data }}
                    <li class="nav-item">
                      <a class="nav-link {{#if @first}}active{{/if}}" data-id="{{id}}" id="{{id}}-tab" data-toggle="pill" href="#tab-{{id}}" role="tab" aria-controls="{{id}}-{{nama}}" aria-selected="true">{{nama}}</a>
                    </li>
                  {{/each}}
                  {{!-- <li class="nav-item">
                    <a class="nav-link active" data-id="10" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Paket Premium</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-id="2" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="true">Paket Ultimate</a>
                  </li> --}}
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                  {{# each data.data }}
                    <div class="tab-pane fade show {{#if @first}}active{{/if}}" id="tab-{{id}}" role="tabpanel" aria-labelledby="{{id}}">
                      <div class="row">
                        <div class="col-md-5">
                          <img>
                        </div>
                        <div class="col-md-7">
                          <h4>Yang anda dapatkan dari paket {{nama}}</h4>
                          <ul>
                            {{#each productMemberDetail}}
                              <li>{{this.nama}}</li>
                            {{/each}}
                            {{!-- <li>Free 20 Gift</li> --}}
                          </ul>
                          <label>Harga Rp.{{harga}}</label>
                        </div>
                      </div>
                      <button type="button" class="btnBayar btn btn-success btn-sm">
                          <i class="far fa-credit-card"></i> Beli Sekarang 
                        </button> 
                    </div>
                  {{/each}}
                  {{!-- 
                  <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-homme-tab">
                    <div class="row">
                      <div class="col-md-5">
                        <img>
                      </div>
                      <div class="col-md-7">
                        <h4>Yang anda dapatkan</h4>
                        <ul>
                          <li>Link Seminar Zoom</li>
                          <li>Free 20 Gift</li>
                        </ul>
                        <label>Harga Rp. 300.000</label>
                      </div>
                    </div>
                    <button type="button" class="btnBayar btn btn-success btn-sm">
                        <i class="far fa-credit-card"></i> Beli Sekarang 
                      </button> 
                  </div>
                  <div class="tab-pane fade show" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                     <div class="row">
                       <div class="col-md-5">
                         <img>
                       </div>
                       <div class="col-md-7">
                         <h4>Yang anda dapatkan</h4>
                         <ul>
                           <li>Subdomain+hosting+WA chat selama 1 tahun</li>
                           <li>3 Alternatif Logo (2x revisi)</li>
                           <li>3 design pendukung (poster, banner, flayer, kartu nama).</li>
                         </ul>
                         <label>Harga Rp. 1.000.000</label>
                       </div>
                     </div>
                     <button type="button" class="btnBayar btn btn-success btn-sm">
                        <i class="far fa-credit-card"></i> Beli Sekarang 
                      </button> 
                  </div> --}}
                </div>
              </div>

          </div>
        </div>
      </div> 
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
  $(document).ready(function(){
    var dataIcon = {};

  $('.btnBayar').on('click', function(){
      var via = document.getElementById("viaPembayaran").value;
      var idProduk = $("ul.nav-tabs li a.active").data("id");

      if(via == ''){
        alert('Pilih metode pembayaran!');
      }else{
        //alert("Bayar id tagihan : " + favorite + " Via " + via);
      $('.btnBayar').prop("disabled", true);
      $('.btnBayar').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      fetch('/transaksi/inquiry', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            jenisTransaksi: 1,
            via: via,
            icon: dataIcon[via],
            idProduk: idProduk
          })
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          dataSet2 = Array();
          /*var totalHarga = response.data[0].jumlahNominal;
          var via = response.data[0].via;
          var kodePembayaran= response.data[0].idPembayaran;
          var nama = response.data[0].user.userName;
          var email = response.data[0].user.email;
          var kelas = response.data[0].user.kelas.kelas.nama;
          var dueDate = '';
          var no = 0;
          $("#viaIcon").attr("src",dataIcon[via]);
          $.each( response.data[0].tagihans, function( key, value ) {
            no++;
            //alert(response.data[0].tagihans[a].id)
            var harga = new Number(value.product.nominal).toLocaleString("id-ID");
            var tmp = [no, value.product.nama, value.id, value.product.keterangan, harga]
            dataSet2.push(tmp)
          });

          table2.clear();
          $("#example2 tfoot").remove();

          $("#example2").append(
            $('<tfoot/>').append( "<tr><th></th><th></th><th></th><th>TOTAL</th><th>"+ new Number(totalHarga).toLocaleString("id-ID")+"</th></tr>" )
          );
      
          table2.rows.add(dataSet2);
          table2.draw();

          via = 'Pembayaran Via ' + via;
          
          $('.via').text(via);
          //$('.dueDate').text('Bayar Sebelum: ' + dueDate);
          $('#namaUser').html('<strong>'+nama+'</strong> <br>'+ kelas +
          '<br>Telp: 08986362990<br>Email: '+email); 
          $('#kodePembayaran').html('<b>Kode Pembayaran : '+kodePembayaran+'</b><br>'); 
          
          toastr.success('berhasil inquiry')
          $('#modal-add-payment').modal('show');*/
          alert('Inquiry Berhasil, kode pembayaran akan dikirimkan melalui whatsapp')
          window.open("/transaksi/myTransaksi", "_self");
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
        $('.btnBayar').prop("disabled", false);
        $('.btnBayar').html(
          `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Bayar`
        )
      });
      }
    });


    let pembayaranVia = document.getElementById('viaPembayaran');
    pembayaranVia.length = 0;
    fetch('/settingWinpay/toolbar', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        let defaultOption = document.createElement('option');
        defaultOption.text = 'Pilih Via Pembayaran';
        defaultOption.value = '';
        pembayaranVia.add(defaultOption);
        pembayaranVia.selectedIndex = 0;
        
        Object.getOwnPropertyNames(response.data.products).forEach(
          function (val, idx, array) {
            //console.log(idx);
            for(a = 0 ; a < response.data.products[val].length ; a++){
              //console.log(response.data.products[val][a]);
              if(response.data.products[val][a].is_direct === true){
                //console.log(response.data.products[val][a]);
                option = document.createElement('option');
                option.text = response.data.products[val][a].payment_name;
                option.value = response.data.products[val][a].payment_code;
                pembayaranVia.add(option);
                dataIcon[response.data.products[val][a].payment_code] = response.data.products[val][a].payment_logo;
              }
            }
            //console.log(val + ' -> ' + response.data.products[val][idx]);
            //console.log(val);
          }
        );
        //var obj = JSON.parse(response.data.products);
        //console.log(response.data.products)
        //printValues(response.data.products);
        //document.getElementById("idEdit").value = response.data.id;
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });
});

</script>

{{> footerAdmin }}



