<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            {{#if isAdmin}}
              <div class="card-header">
                <h3 class="card-title">
                  
                </h3>
                  <button type="button" data-toggle="modal" data-target="#modal-add-jurusan" class="btn btn-success btn-sm">
                      <i class="fa fa-plus"></i> Add Data 
                  </button>
              </div>
            {{/if}}
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
              </div>
              </table>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){
    let env = '{{env}}';
    let idDevel = '{{idDevel}}';

    var dataIcon = {};
    let pembayaranVia = document.getElementById('viaPembayaran');
    pembayaranVia.length = 0;
    fetch('/settingWinpay/toolbar?env='+env, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        let defaultOption = document.createElement('option');
        defaultOption.text = 'Pilih Via Pembayaran';
        defaultOption.value = '';
        pembayaranVia.add(defaultOption);
        pembayaranVia.selectedIndex = 0;
        Object.getOwnPropertyNames(response.data.products).forEach(
          function (val, idx, array) {
            for(a = 0 ; a < response.data.products[val].length ; a++){
              if(response.data.products[val][a].is_direct === true){
                option = document.createElement('option');
                option.text = response.data.products[val][a].payment_name;
                option.value = response.data.products[val][a].payment_code;
                pembayaranVia.add(option);
                dataIcon[response.data.products[val][a].payment_code] = response.data.products[val][a].payment_logo;
              }
            }
          }
        );
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
        });
        alert(keterangan)
      }
    });

    fetch('/rajaOngkir/provinsi?' + 'env='+env, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var data1 = [];
        
        $.each(response.data, function( key, value ) {
          data1.push({id: value.id, text: value.provinsiName})
        });
        $('.selectProvinsi').select2({data: data1});
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
          toastr.error(value.msg)
        });
      }
    });

    var dataMenu = {};
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID Produk" },
          { title: "Nama Produk" },
          { title: "Harga" },
          { title: "Waktu Masuk" },
          { title: "Batas Bayar" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": 6, // your case first column
              "className": "text-center",
          },
          {
              "targets": 3, // your case first column
              "className": "text-right",
          },
          {
              "targets": [0, 6], // your case first column
              "width" : "5%"
          }
      ],
    });

    $('.btnSave').on('click', function(){
        var keterangan = document.getElementById("addKeterangan").value;
        var nama = document.getElementById("addNama").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        fetch('/jurusan/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nama: nama,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-jurusan').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
            //alert(keterangan)
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/jurusan/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-jurusan').modal('hide');
            loadData();
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              toastr.error(value.msg)
            });
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var idProduct = document.getElementById("editIdProduk").value ;
        var viaPembayaran = document.getElementById("viaPembayaran").value ;
        var idCart = document.getElementById("idEdit").value ;
        var idProvinsi = $('.selectProvinsi').val();
        var idKota = $('.selectKota').val() ;
        var idKecamatan = $('.selectKecamatan').val() ;
        var detailAlamat = document.getElementById("editDetailAlamat").value ;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/productCartInquiry?env=' + env, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            idProduk: idProduct,
            via: viaPembayaran,
            idCart: idCart,
            idProvinsi: idProvinsi,
            idKota: idKota,
            idKecamatan: idKecamatan,
            detailAlamat: detailAlamat
          })
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          console.log(response.data[0])
          dataSet2 = Array();
          $('#modal-edit-cart').modal('hide');
          alert('Inquiry Berhasil, kode pembayaran akan dikirimkan melalui whatsapp')
          if(env == 'devel'){
            window.location = "/transaksi/myTransaksi?env=" + env + '&idDevel='+idDevel;
          }else{
            window.location = "/transaksi/myTransaksi";
          }
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
              toastr.error(value.msg)
            });
          }else{
              toastr.error(response.message)
          }
        }
        $('.btnEdit').prop("disabled", false);
        $('.btnEdit').html(
          `<span aria-hidden="false"></span> <i class="fa fa-credit-card"></i> Bayar Sekarang`
        )
      });
    });

    window.paymentProduct = function(id){
      fetch('/cart/edit?id=' + id + '&env=' + env, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("editIdProduk").value = response.data.idProduk;
          document.getElementById("editNamaProduk").value = response.data.namaProduk;
          document.getElementById("editHarga").value = response.data.harga;
          document.getElementById("editWeight").value = response.data.weight;
          document.getElementById("editCreated").value = response.data.createdDate;
          document.getElementById("editBatas").value = response.data.batasBayar;
          //document.getElementById("keteranganEdit").value = response.data.keterangan;
          $('#modal-edit-cart').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }
    window.prosesKota = function(){
    let idProvinsi = $('.selectProvinsi').val()
    
    fetch('/rajaOngkir/kota?id=' + idProvinsi + '&env='+env, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var data1 = [];
        $('.selectKota').empty();

        $.each(response.data, function( key, value ) {
          data1.push({id: value.id, text: value.namaKota})
        });
        
        $('.selectKota').select2({data: data1});
        prosesKecamatan();
        prosesOngkir();
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
          toastr.error(value.msg)
        });
      }
    }); 
    }

    window.prosesKecamatan = function(){
    let idProvinsi = $('.selectKota').val()
    
    fetch('/rajaOngkir/kecamatan?id=' + idProvinsi + '&env='+env, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var data1 = [];
        
        $('.selectKecamatan').empty();
        $.each(response.data, function( key, value ) {
          data1.push({id: value.id, text: value.namaKecamatan})
        });
        
        $('.selectKecamatan').select2({data: data1});
      }else{
        var keterangan = "";
        $.each( response.errors, function( key, value ) {
          keterangan += value.msg + "\n";
          toastr.error(value.msg)
        });
      }
    }); 
    }

    window.prosesOngkir = function(){
      let idKota = $('.selectKota').val()
      let weight = document.getElementById("editWeight").value
      
      let selectKurir = document.getElementById('selectKurir');
      selectKurir.length = 0;

      fetch('/rajaOngkir/ongkir?origin=409&destination='+idKota+'&weight='+ weight + '&env='+env, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          let defaultOption = document.createElement('option');
          defaultOption.text = 'Pilih Kurir kesayangan anda';
          defaultOption.value = '';
          selectKurir.add(defaultOption);
          selectKurir.selectedIndex = 0;
          $.each(response.data, function( key, value ) {
            for(i = 0 ; i < value.listCourier.length ; i++){
              option = document.createElement('option');
              option.text = value.listCourier[i];
              option.value = 1;
              selectKurir.add(option);
            }
          });

        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      fetch('/cart/data?env=' + env) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              let expired = '';
              if(value.isExpired == 1){
                expired = 'disabled';
              }
              var btn1 = '<button '+expired+' type="button" class="btn btn-success btn-sm" onclick="paymentProduct(' + value.id + ')">'+
                          '<i class="fa fa-credit-card"></i>'+
                        '</button>';

                        /*'<button '+expired+' type="button" class="btn btn-danger btn-sm" onclick="hapusJurusan(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';*/
              var tmp = [no, value.id, value.namaProduk,  Number(value.harga).toLocaleString("id-ID"), 
              value.createdDate, value.batasBayar, btn1]
              dataSet.push(tmp)
            });
            
            $('#modal-loading').modal('hide');
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();
  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-jurusan">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama Jurusan">
              </div>
            </div>
            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="addKeterangan" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-cart">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Proses Belanja Saya</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="editIdProduk" class="col-sm-4 col-form-label">Id Produk</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editIdProduk" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="editNamaProduk" class="col-sm-4 col-form-label">Nama Produk</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editNamaProduk" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="editHarga" class="col-sm-4 col-form-label">Harga</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editHarga" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="editWeight" class="col-sm-4 col-form-label">Berat (Kg)</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editWeight" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="editCreated" class="col-sm-4 col-form-label">Waktu Masuk</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editCreated" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="editBatas" class="col-sm-4 col-form-label">Bayar Sebelum</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editBatas" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="editBatas" class="col-sm-4 col-form-label">Bayar VIA</label>
              <div class="col-sm-8">
                <select id="viaPembayaran" class="form-control" name="viaPembayaran">
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editBatas" class="col-sm-4 col-form-label">Provinsi</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <select class="form-control select2 selectProvinsi" onchange="prosesKota()">
                    <option selected value="">Pilih Provinsi Pengiriman</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="editBatas" class="col-sm-4 col-form-label">Kab. / Kota</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <select class="form-control select2 selectKota" onchange="prosesKecamatan(), prosesOngkir()">
                    <option selected value="">Pilih Kota Pengiriman</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="editBatas" class="col-sm-4 col-form-label">Kecamatan</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <select class="form-control select2 selectKecamatan">
                    <option selected value="">Pilih Kecamatan Pengiriman </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="editDetailAlamat" class="col-sm-4 col-form-label">Detail Alamat</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <textarea id="editDetailAlamat" class="form-control" rows="4" placeholder="Mohon isi detail alamat seperti kelurahan, rt, rw"></textarea>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="editBatas" class="col-sm-4 col-form-label">Kurir</label>
              <div class="col-sm-8">
                <div class="form-group">
                  <select class="form-control" id="selectKurir">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Bayar Sekarang</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-jurusan">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


