<link rel="stylesheet" href="admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row" id="data1">
          </div>

          <div class="row" id="data2">
          </div>

          <div class="row" id="data3">
          </div>

        <div class="card card-primary card-outline">
          <div class="card-header">
            <h5 class="m-0">Selamat Datang</h5>
          </div>
          <div class="card-body">
            <h6 class="card-title">{{profile.fullname}}</h6>

            <p class="card-text">untuk memulai belanja silahkan klik tombol dibawah</p>
            <input type="text" id="home" style="display: none;" value="{{home}}">
            <a href="/" class="btn btn-primary">Go Belanja</a>
          </div>
        </div>
      </div> 
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
  $(document).ready(function(){
      var id = document.getElementById("home").value ;
      var tmpData1 = '';
      var tmpData2 = '';
      var tmpData3 = '';

      if(id != ""){
        toastr.success('Login Berhasil')
      }

      window.getData = function(){
        dataBg = ['bg-info', 'bg-warning', 'bg-error', 'bg-success',
        'bg-info', 'bg-warning', 'bg-error', 'bg-success',
        'bg-info', 'bg-warning', 'bg-error', 'bg-success'];
        fetch('/home/getCountData', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            console.log(response.data)
            var index = 0 ; 
            var indexBg = 0 ; 
            for(var item in response.data) {
              if(index < 4 ){
                tmpData1 += 
                '<div class="col-md-3 col-sm-6 col-12">' + 
                  '<div class="info-box">' +
                    '<span class="info-box-icon '+dataBg[indexBg]+'"><i class="far fa-copy"></i></span>' +
                    '<div class="info-box-content">' +
                      '<span class="info-box-text">'+response.data[item].nama_divisi+'</span>' +
                      '<span class="info-box-number">'+response.data[item].count+ ' data</span>' +
                    '</div>' +
                  '</div>'+
                '</div>'
              }else if(index >= 4 && index < 8){
                tmpData2 += 
                '<div class="col-md-3 col-sm-6 col-12">' + 
                  '<div class="info-box">' +
                    '<span class="info-box-icon '+dataBg[indexBg]+'"><i class="far fa-copy"></i></span>' +
                    '<div class="info-box-content">' +
                      '<span class="info-box-text">'+response.data[item].nama_divisi+'</span>' +
                      '<span class="info-box-number">'+response.data[item].count+ ' data</span>' +
                    '</div>' +
                  '</div>'+
                '</div>'
              }else if(index >= 8){
                tmpData3 += 
                '<div class="col-md-3 col-sm-6 col-12">' + 
                  '<div class="info-box">' +
                    '<span class="info-box-icon '+dataBg[indexBg]+'"><i class="far fa-copy"></i></span>' +
                    '<div class="info-box-content">' +
                      '<span class="info-box-text">'+response.data[item].nama_divisi+'</span>' +
                      '<span class="info-box-number">'+response.data[item].count+ ' data</span>' +
                    '</div>' +
                  '</div>'+
                '</div>'
              }
              index++ 
              indexBg++;
            }

            $( "#data1" ).append( $(tmpData1));
            $( "#data2" ).append( $(tmpData2));
            $( "#data3" ).append( $(tmpData3));
          }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
              toastr.errors(value.msg)
            });
          }
        });
      }

      //getData()

  })
</script>

{{> footerAdmin }}



