<link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-devisi" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "Nama" },
          { title: "Keterangan" },
          { title: "Jurusan" },
          { title: "Tingkat" },
          { title: "Create Date" },
          { title: "Update Date" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [4, 7], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 4, 7], // your case first column
              "width" : "5%"
          }
      ],
    });

    let dropdownTingkat = document.getElementById('tingkat-dropdown');
    dropdownTingkat.length = 0;
    fetch('/tingkat/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Tingkat';
      defaultOption.value = '';
      dropdownTingkat.add(defaultOption);
      dropdownTingkat.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTingkat.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownJurusan = document.getElementById('jurusan-dropdown');
    dropdownJurusan.length = 0;
    fetch('/jurusan/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Jurusan';
      defaultOption.value = '';
      dropdownJurusan.add(defaultOption);
      dropdownJurusan.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownJurusan.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownTingkat2 = document.getElementById('tingkat-dropdown2');
    dropdownTingkat2.length = 0;
    fetch('/tingkat/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Tingkat';
      defaultOption.value = '';
      dropdownTingkat2.add(defaultOption);
      dropdownTingkat2.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTingkat2.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownJurusan2 = document.getElementById('jurusan-dropdown2');
    dropdownJurusan2.length = 0;
    fetch('/jurusan/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Jurusan';
      defaultOption.value = '';
      dropdownJurusan2.add(defaultOption);
      dropdownJurusan2.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownJurusan2.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    $('.btnSave').on('click', function(){
        var keterangan = document.getElementById("addKeterangan").value;
        var nama = document.getElementById("addNama").value;
        var jurusan = document.getElementById("jurusan-dropdown").value;
        var tingkat = document.getElementById("tingkat-dropdown").value;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/kelas/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nama: nama,
              jurusan: jurusan,
              tingkat: tingkat,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-devisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/kelas/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-divisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var nama = document.getElementById("namaEdit").value ;
        var keterangan = document.getElementById("keteranganEdit").value ;
        var jurusan = document.getElementById("jurusan-dropdown2").value;
        var tingkat = document.getElementById("tingkat-dropdown2").value;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/kelas/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              nama: nama,
              keterangan: keterangan,
              jurusan : jurusan,
              tingkat : tingkat
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-devisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editKelas = function(id){
      fetch('/kelas/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("namaEdit").value = response.data.nama;
          document.getElementById("jurusan-dropdown2").value = response.data.jurusan.id;
          document.getElementById("tingkat-dropdown2").value = response.data.tingkat.id;
          document.getElementById("keteranganEdit").value = response.data.keterangan;

          $('#modal-edit-devisi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusKelas = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      dataSet = Array()
      
      fetch('/kelas/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editKelas(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusKelas(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var tmp = [no, value.nama, value.keterangan, value.jurusan.nama, value.tingkat.nama, value.createDate, value.lastUpdate, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

  })
</script>

{{> footer }}

<div class="modal fade" id="modal-add-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama Kelas">
              </div>
            </div>
            <div class="form-group row">
              <label for="jurusan-dropdown" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown" class="form-control" name="selectJurusan"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tingkat-dropdown" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="tingkat-dropdown" class="form-control" name="selectTingkat"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea rows="3" class="form-control" id="addKeterangan" placeholder="Keterangan"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-setting-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Setting Akses</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="settingId" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingId" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="settingNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="settingNama" readonly>
              </div>
            </div>
            <div class="tmpModalSetting"></div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEditSetting">Edit Data  </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="namaEdit" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="namaEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="jurusan-dropdown2" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown2" class="form-control" name="selectJurusan2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tingkat-dropdown2" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="tingkat-dropdown2" class="form-control" name="selectTingkat2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="keteranganEdit" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="keteranganEdit" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


