<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            {{!-- <div class="card-header">
              <h3 class="card-title">
                
              </h3> 
              <button type="button" data-toggle="modal" data-target="#modal-add-transaksi" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
              <a class="btn btn-primary" href="http://www.somesite.com/" data-window="external" data-dismiss="#modal-add-transaksi">Go there</a>
            </div> --}}
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 
    let env = '{{env}}'
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID Trx" },
          { title: "Status" },
          { title: "Tgl Inq" },
          { title: "Tgl Bayar" },
          { title: "Via " },
          { title: "ID Pembayaran" },
          { title: "Nominal" },
          { title: "Action" }
      ],
      /*columnDefs: [
          {
              "targets": [8], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0,8], // your case first column
              "width" : "5%"
          }
      ],*/
    });

    var dataSet2 = Array();
    var table2 = $('#example2').DataTable({
      scrollCollapse: true,
      searching: false,
      paging: false,
      info: false,
      data: dataSet2,
      footerCallback : function ( row, data, start, end, display ) {
            var api = this.api(), data;
 
            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };
 
            // Total over all pages
            total = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Total over this page
            pageTotal = api
                .column( 4, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
 
            // Update footer
            $( api.column( 4 ).footer() ).html(
                '$'+pageTotal +' ( $'+ total +' total)'
            );
        },
      columns: [
          { title: "No" },
          { title: "Nama" },
          { title: "ID" },
          { title: "Deskripsi" },
          { title: "Sub Total" },      
      ],/*
      columnDefs: [
          {
              "targets": [9], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 2, 3, 4, 5, 6, 9], // your case first column
              "width" : "5%"
          },
          {
              "targets": [7], // your case first column
              "width" : "12%"
          }
      ],*/
    });

    window.detailTransaksi = function(id){
      fetch('/transaksi/editMyTransaksi?id=' + id + '&env=' + env, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          console.log(response)
          dataSet2 = Array();
            var totalHarga = response.data.jumlahNominal;
            var via = response.data.via;
            var orderId = response.data.orderId;
            var kodePembayaran= response.data.idPembayaran;
            var nama = response.data.user.userName;
            var email = response.data.user.email;
            var kelas = response.data.user.kelas.kelas.nama;
            var dueDate = '';
            var no = 0;
            $("#viaIcon").attr("src",response.data.linkIcon);
            $.each( response.data.tagihans, function( key, value ) {
              no++;
              //alert(response.data[0].tagihans[a].id)
              var harga = new Number(value.product.nominal).toLocaleString("id-ID");
              var tmp = [no, value.product.nama, value.id, value.product.keterangan, harga]
              dataSet2.push(tmp)
            });

            table2.clear();
            $("#example2 tfoot").remove();

            $("#example2").append(
              $('<tfoot/>').append( "<tr><th></th><th></th><th></th><th>TOTAL</th><th>"+ new Number(totalHarga).toLocaleString("id-ID")+"</th></tr>" )
            );
        
            table2.rows.add(dataSet2);
            table2.draw();

            via = 'Pembayaran Via ' + via;
            
            $('.via').text(via);
            $('#orderId').text("Order ID: " + orderId);
            //$('.dueDate').text('Bayar Sebelum: ' + dueDate);
            $('#kodePembayaran').html('<b>Kode Pembayaran : '+kodePembayaran+'</b><br>');
            $('#namaUser').html('<strong>'+nama+'</strong> <br>'+ kelas +
            '<br>Telp: 08986362990<br>Email: '+email); 
            
            $('#modal-detail-payment').modal('show');
        }else{
          var keterangan = "";
          if( Array.isArray(response.errors)){
            $.each( response.errors, function( key, value ) {
              keterangan += value.msg + "\n";
            });
          }else{
            toastr.error(response.data) 
          }
        }
      });
    }

    window.hapusKelas = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.caraPembayaran = function(id){
      if(null != id){
        window.open(
          id,
          '_blank' // <- This is what makes it open in a new window.
        );
      }
    }

    window.loadData = function(){
      $('#modal-loading').modal('show');
      dataSet = Array()
      fetch('/transaksi/myTransaksi1?env='+env) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            console.log(response)
            $.each( response.data, function( key, value ) {
              no++;
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="caraPembayaran(\''+ value.urlPanduan + '\')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>';
                        
              var status = '-';
              if(value.status == 1){
                status = '<span class="badge badge-success">TERBAYAR</span>';
              }

              var jumlahNominal = new Number(value.jumlahNominal).toLocaleString("id-ID");
              var tmp = [no, value.id, status, value.createdDate, value.tanggalBayar, value.via, value.idPembayaran, jumlahNominal, btn1];
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

  })
</script>

{{> footerAdmin }}

<div id="myModalPembayaran" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> × </button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
       <!-- remote content will be inserted here via jQuery load() -->
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

<div class="modal fade" id="modal-detail-payment">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Segera Lakukan Pembayaran</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              Teliti kembali via dan nominal pembayaran sebelum checkout payment / melakukan pembayaran. 
              Cetak ini bukan bukti kwitansi pembayaran.
            </div>


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> SMK YPM 1 Taman Sidoarjo.
                    <small id="orderId" class="float-right"></small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  <address>
                    <p id="namaUser"></p>
                  </address>
                  <p id="kodePembayaran"></p>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                </div>
                <!-- /.col -->
                {{!-- <div class="col-sm-4 invoice-col">
                  <b>Invoice #007612</b><br>
                  <br>
                  <b>Order ID:</b> 4F3S8J<br>
                  <b>Payment Due:</b> 2/22/2014<br>
                  <b>Account:</b> 968-34567
                </div> --}}
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped" width="100%" id="example2">
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                  <p class="lead">Payment Methods:</p>
                  <img id="viaIcon" style="width: 120px; height: 70px;" alt="VIA">
                  {{!-- <img src="img/credit/mastercard.png" alt="Mastercard">
                  <img src="img/credit/american-express.png" alt="American Express">
                  <img src="img/credit/paypal2.png" alt="Paypal"> --}}

                  <p class="text-muted well well-sm shadow-none via" style="margin-top: 10px;">
                  </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                  <p class="lead dueDate"></p>

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  {{!-- <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a> --}}
                  <button type="button" class="btn btn-success btnCancel float-right submitPembayaran"> Cancel
                  </button>
                  {{!-- <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                  </button> --}}
                </div>
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div>
      {{!-- <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div> --}}
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-add-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="namaEdit" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="namaEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="group-dropdown2" class="col-sm-3 col-form-label">Group</label>
              <div class="col-sm-9">
                <select id="group-dropdown2" class="form-control" ></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="jurusan-dropdown2" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown2" class="form-control" name="selectJurusan2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tingkat-dropdown2" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="tingkat-dropdown2" class="form-control" name="selectTingkat2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-dropdown2" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown2" class="form-control" name="selectKelas2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nominal</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="nominalEdit" placeholder="Nominal">
              </div>
            </div>
            <div class="form-group row">
              <label for="keteranganEdit" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="keteranganEdit" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- <p>Apakah anda yakin akan menghapus data {{title}}?</p> --}}
        <div class="embed-responsive embed-responsive-21by9">
          
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


