<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<style>
    .datepicker {
      z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-product" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 

    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID" },
          { title: "Nama" },
          { title: "Image" },
          { title: "View" },
          { title: "F. Sale" },
          { title: "Active" },
          { title: "Create" },
          { title: "Update" },
          { title: "Harga Beli" },
          { title: "Harga Jual" },
          { title: "Harga Hidden" },
          { title: "Harga Coret" },
          { title: "Jumlah Gift" },
          { title: "Harga Final" },
          { title: "Until Buy" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [8], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0,1,4,5,15], // your case first column
              "width" : "5%"
          }
      ],
    });

    /*let dropdownGroup = document.getElementById('group-dropdown');
    dropdownGroup.length = 0;
    fetch('/groupProduct/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Group';
      defaultOption.value = '';
      dropdownGroup.add(defaultOption);
      dropdownGroup.selectedIndex = 0;
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownGroup.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error group on ADD -', err);  
    });

    let dropdownGroup2 = document.getElementById('group-dropdown2');
    dropdownGroup2.length = 0;
    fetch('/groupProduct/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Group';
      defaultOption.value = '';
      dropdownGroup2.add(defaultOption);
      dropdownGroup2.selectedIndex = 0;
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownGroup2.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error group on Edit -', err);  
    });*/

    $('.btnSave').on('click', function(){
        var nama = document.getElementById("addNama").value ;
        var view = document.getElementById("addView").value ;
        var fSale = document.getElementById("addFSale").value ;
        var active = document.getElementById("addActive").value ;
        var untilBuyDate = document.getElementById("addUntilBuyDate").value ;
        var untilBuyTime = document.getElementById("addUntilBuyTime").value ;
        var harga = document.getElementById("addHarga").value ;
        var hargaHidden = document.getElementById("addHargaHidden").value ;
        var hargaCoret = document.getElementById("addHargaCoret").value ;
        var gambar = document.getElementById("addGambar");
        var hargaBeli = document.getElementById("addHargaBeli").value ;
        var feeBiller1 = document.getElementById("addFeeBiller1").value ;
        var feeBiller2 = document.getElementById("addFeeBiller2").value ;
        var berat = document.getElementById("addBerat").value ;
        var keterangan = document.getElementById("addKeterangan").value ;

        untilBuyDate = untilBuyDate.split("-")[2] + "-" + untilBuyDate.split("-")[1] + "-" + untilBuyDate.split("-")[0];
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        console.log(nama)
        const formData = new FormData() 
        formData.append('file', gambar.files[0]);
        formData.append('nama', nama);
        formData.append('view', view);
        formData.append('fSale', fSale);
        formData.append('active', active);
        formData.append('harga', harga);
        formData.append('untilBuyDate', untilBuyDate);
        formData.append('untilBuyTime', untilBuyTime);
        formData.append('hargaHidden', hargaHidden);
        formData.append('hargaCoret', hargaCoret);
        formData.append('hargaBeli', hargaBeli);
        formData.append('feeBiller1', feeBiller1);
        formData.append('feeBiller2', feeBiller2);
        formData.append('berat', berat);
        formData.append('keterangan', keterangan);

        fetch('/product/add', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-product').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        var idPath = document.getElementById("idPath").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/product/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus,
              path: idPath
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-divisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var pathLama = document.getElementById("pathEdit").value ;
        var nama = document.getElementById("editNama").value ;
        var view = document.getElementById("editView").value ;
        var fSale = document.getElementById("editFSale").value ;
        var active = document.getElementById("editActive").value ;
        var hargaHidden = document.getElementById("editHargaHidden").value ;
        var hargaCoret = document.getElementById("editHargaCoret").value ;
        var gambar = document.getElementById("editGambar");
        var untilBuyDate = document.getElementById("editUntilBuyDate").value ;
        var untilBuyTime = document.getElementById("editUntilBuyTime").value ;

        let hargaBeli = document.getElementById("editHargaBeli").value ;
        let berat = document.getElementById("editBerat").value ;
        let feeBiller1 = document.getElementById("editFeeBiller1").value ;
        let feeBiller2 = document.getElementById("editFeeBiller2").value ;
        let keterangan = document.getElementById("editKeterangan").value ;
        
        untilBuyDate = untilBuyDate.split("-")[2] + "-" + untilBuyDate.split("-")[1] + "-" + untilBuyDate.split("-")[0];

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        const formData = new FormData() 
        formData.append('file', gambar.files[0]);
        formData.append('id', id);
        formData.append('pathLama', pathLama);
        formData.append('nama', nama);
        formData.append('view', view);
        formData.append('fSale', fSale);
        formData.append('active', active);
        formData.append('hargaHidden', hargaHidden);
        formData.append('hargaCoret', hargaCoret);
        formData.append('untilBuyDate', untilBuyDate);
        formData.append('untilBuyTime', untilBuyTime);
        formData.append('hargaBeli', hargaBeli);
        formData.append('feeBiller1', feeBiller1);
        formData.append('feeBiller2', feeBiller2);
        formData.append('berat', berat);
        formData.append('keterangan', keterangan);
        
        fetch('/product/update', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-product').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editProduct = function(id){
      fetch('/product/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          console.log(response.data)
          var tanggal = response.data.dueDateCustom;
          var tgl1 = null;
          if(tanggal != null){
            tgl1 = moment(tanggal, "DD-MM-YYYY").format( "YYYY-MM-DD");
          }
          var path = response.data.image.replace("public/", "");
          document.getElementById("pathEdit").value = response.data.image;
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("editNama").value = response.data.nama;
          document.getElementById("editView").value = response.data.view;
          document.getElementById("editFSale").value = response.data.isFlashsale;
          document.getElementById("editActive").value = response.data.isActive;
          document.getElementById("editUntilBuyDate").value = response.data.untilBuyDate.split("-")[2] + "-" + response.data.untilBuyDate.split("-")[1] + "-" + response.data.untilBuyDate.split("-")[0];
          document.getElementById("editUntilBuyTime").value = response.data.untilBuyTime;
          document.getElementById("editHarga").value = response.data.harga;
          document.getElementById("editHargaHidden").value = response.data.hargaHidden;
          document.getElementById("editHargaCoret").value = response.data.hargaCoret;
          document.getElementById("editGambar").value = '';
          document.getElementById("editHargaBeli").value = response.data.hargaBeli;
          document.getElementById("editBerat").value = response.data.weight;
          document.getElementById("editFeeBiller1").value = response.data.feeBiller1;
          document.getElementById("editFeeBiller2").value = response.data.feeBiller2;
          document.getElementById("editKeterangan").value = response.data.keterangan;
          
          $('#editViewImg').attr('src', path);

          $('#modal-edit-product').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusKelas = function(id, path){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
      document.getElementById("idPath").value = path;
    }

    window.loadData = function(){
      dataSet = Array()
      
      $('#modal-loading').modal('show');
      fetch('/product/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              console.log(value)
              var path = value.image.replace("public/", "");
              var num = new Number(value.nominal).toLocaleString("id-ID");
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editProduct(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusKelas(' + value.id + ', \''+ value.image + '\')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var gambar = "<img width='100px' src = '"+path+"'></img>";
              var tmp = [no, value.id, value.nama, gambar, value.view, value.isFlashsale, value.isActive, value.createdDate, value.lastUpdated, 
              value.hargaBeli, value.harga, value.hargaHidden, value.hargaCoret, value.jumlahGift, value.hargaFinal, 
              value.untilBuyDate, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
            $('#modal-loading').modal('hide');
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">

            <div class="form-group row">
              <label for="editNama" class="col-sm-4 col-form-label">Nama</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="addNama" required placeholder="Nama Produk">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="addView" class="col-sm-4 col-form-label">View</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addView" placeholder="Jumlah View" required>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="addFSale" class="col-sm-4 col-form-label">Is FlashSale</label>
              <div class="col-sm-8">
                <select id="addFSale" class="form-control" name="addFSale">
                  <option value="0">Bukan untuk flashsale</option>
                  <option value="1">Untuk flashsale</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addActive" class="col-sm-4 col-form-label">Is Active</label>
              <div class="col-sm-8">
                <select id="addActive" class="form-control" name="addActive">
                  <option value="0">Tidak Aktif</option>
                  <option value="1">Aktif</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="addUntilBuyDate" class="col-sm-4 col-form-label">Until Buy Date</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" id="addUntilBuyDate" placeholder="Dijual Sampai Tanggal" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addUntilBuyTime" class="col-sm-4 col-form-label">Until Buy Time</label>
              <div class="col-sm-8">
                <input type="time" class="form-control" id="addUntilBuyTime" placeholder="Dijual Sampai Jam" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addHargaBeli" class="col-sm-4 col-form-label">Harga Beli</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addHargaBeli" placeholder="Harga Beli" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addHarga" class="col-sm-4 col-form-label">Harga Jual</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addHarga" placeholder="Harga Jual" required>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="addHargaHidden" class="col-sm-4 col-form-label">Harga Hidden</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="addHargaHidden" placeholder="Harga Hidden" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addHargaCoret" class="col-sm-4 col-form-label">Harga Coret</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="addHargaCoret" placeholder="Harga Coret" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addBerat" class="col-sm-4 col-form-label">Berat Produk</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addBerat" placeholder="Berat Barang" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addFeeBiller1" class="col-sm-4 col-form-label">Fee Biller 1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addFeeBiller1" placeholder="Fee Biller 1" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addFeeBiller2" class="col-sm-4 col-form-label">Fee Biller 2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="addFeeBiller2" placeholder="Fee Biller 2" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="addGambar" class="col-sm-4 col-form-label">Gambar Upload</label>
              <div class="col-sm-8">
                <input type="file" class="form-control" id="addGambar" placeholder="Gambar">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-4 col-form-label">Keterangan</label>
              <div class="col-sm-8">
                <textarea class="form-control" id="addKeterangan" rows="4"></textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnSave">Add Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="pathEdit" class="col-sm-4 col-form-label">Path</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="pathEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="editNama" class="col-sm-4 col-form-label">Nama</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editNama">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="editView" class="col-sm-4 col-form-label">View</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editView" placeholder="Jumlah View">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="editFSale" class="col-sm-4 col-form-label">Is FlashSale</label>
              <div class="col-sm-8">
                <select id="editFSale" class="form-control" name="editFSale">
                  <option value="0">Bukan untuk flashsale</option>
                  <option value="1">Untuk flashsale</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editActive" class="col-sm-4 col-form-label">Is Active</label>
              <div class="col-sm-8">
                <select id="editActive" class="form-control" name="editActive">
                  <option value="0">Tidak Aktif</option>
                  <option value="1">Aktif</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="editUntilBuyDate" class="col-sm-4 col-form-label">Until Buy Date</label>
              <div class="col-sm-8">
                <input type="date" class="form-control" id="editUntilBuyDate" placeholder="Dijual Sampai Tanggal" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editUntilBuyTime" class="col-sm-4 col-form-label">Until Buy Time</label>
              <div class="col-sm-8">
                <input type="time" class="form-control" id="editUntilBuyTime" placeholder="Dijual Sampai Jam" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editHargaBeli" class="col-sm-4 col-form-label">Harga Beli</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editHargaBeli" placeholder="Harga" readonly required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editHarga" class="col-sm-4 col-form-label">Harga Jual</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editHarga" placeholder="Harga" readonly required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editHargaHidden" class="col-sm-4 col-form-label">Harga Hidden</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editHargaHidden" placeholder="Harga Hidden">
              </div>
            </div>

            <div class="form-group row">
              <label for="editHargaCoret" class="col-sm-4 col-form-label">Harga Coret</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="editHargaCoret" placeholder="Harga Coret">
              </div>
            </div>

            <div class="form-group row">
              <label for="editBerat" class="col-sm-4 col-form-label">Berat Produk</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editBerat" placeholder="Berat Barang" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editFeeBiller1" class="col-sm-4 col-form-label">Fee Biller 1</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editFeeBiller1" placeholder="Fee Biller 1" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editFeeBiller2" class="col-sm-4 col-form-label">Fee Biller 2</label>
              <div class="col-sm-8">
                <input type="number" class="form-control" id="editFeeBiller2" placeholder="Fee Biller 2" required>
              </div>
            </div>

            <div class="form-group row">
              <label for="editLink" class="col-sm-4 col-form-label">Gambar Preview</label>
              <div class="col-sm-8">
                <img id="editViewImg" width="300px"> 
              </div>
            </div>

            <div class="form-group row">
              <label for="addNama" class="col-sm-4 col-form-label">Gambar Upload</label>
              <div class="col-sm-8">
                <input type="file" class="form-control" id="editGambar" placeholder="Gambar">
              </div>
            </div>

            <div class="form-group row">
              <label for="editKeterangan" class="col-sm-4 col-form-label">Keterangan</label>
              <div class="col-sm-8">
                <textarea class="form-control" id="editKeterangan" rows="4"></textarea>
              </div>
            </div>
            
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnEdit">Edit Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" style="visibility: hidden;" id="idPath" readonly>
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
