<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<style>
    .datepicker {
      z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" data-target="#modal-add-product" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script>
  $(document).ready(function(){ 

    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      columns: [
          { title: "No" },
          { title: "ID" },
          { title: "Nama" },
          { title: "Harga" },
          { title: "Harga Jual" },
          { title: "Total Harga" },
          { title: "Total Harga Jual" },
          { title: "Fee 1" },
          { title: "Fee 2" },
          { title: "Keterangan" },
          { title: "Is Gift" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [8], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0,1,4,5,6], // your case first column
              "width" : "5%"
          }
      ],
    });


    $('.btnSave').on('click', function(){
        var nama = document.getElementById("addNama").value ;
        var harga = document.getElementById("addHarga").value ;
        var hargaJual = document.getElementById("addHargaJual").value ;
        var jumlah = document.getElementById("addJumlah").value ;
        var biller1 = document.getElementById("addBiller1").value ;
        var biller2 = document.getElementById("addBiller2").value ;
        var isGift = document.getElementById("addIsGift").value ;
        var keterangan = document.getElementById("addKeterangan").value ;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );

        fetch('/productMemberDetail/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nama: nama,
              harga: harga,
              hargaJual: hargaJual,
              jumlah: jumlah,
              biller1: biller1,
              biller2: biller2,
              isGift: isGift,
              keterangan: keterangan
          })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-product').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/productMemberDetail/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-divisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var nama = document.getElementById("editNama").value ;
        var harga = document.getElementById("editHarga").value ;
        var hargaJual = document.getElementById("editHargaJual").value ;
        var jumlah = document.getElementById("editJumlah").value ;
        var biller1 = document.getElementById("editBiller1").value ;
        var biller2 = document.getElementById("editBiller2").value ;
        var isGift = document.getElementById("editIsGift").value ;
        var keterangan = document.getElementById("editKeterangan").value ;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        
        fetch('/productMemberDetail/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              nama: nama,
              harga: harga,
              hargaJual: hargaJual,
              jumlah: jumlah,
              biller1: biller1,
              biller2: biller2,
              isGift: isGift,
              keterangan: keterangan
          })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-product').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editProduct = function(id){
      fetch('/productMemberDetail/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("editNama").value = response.data.nama;
          document.getElementById("editHarga").value = response.data.harga;
          document.getElementById("editHargaJual").value = response.data.hargaJual;
          document.getElementById("editJumlah").value = response.data.jumlah;
          document.getElementById("editBiller1").value = response.data.feeBiller1;
          document.getElementById("editBiller2").value = response.data.feeBiller2;
          document.getElementById("editIsGift").value = response.data.isGift;
          document.getElementById("editKeterangan").value = response.data.keterangan;
          
          $('#modal-edit-product').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusKelas = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      dataSet = Array()
      
      $('#modal-loading').modal('show');
      fetch('/productMemberDetail/all') 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            console.log(response.data)
            $.each( response.data, function( key, value ) {
              no++;
              var harga = new Number(value.harga).toLocaleString("id-ID");
              var hargaJual = new Number(value.hargaJual).toLocaleString("id-ID");
              var totalHarga = new Number(value.totalHarga).toLocaleString("id-ID");
              var totalHargaJual = new Number(value.totalHargaJual).toLocaleString("id-ID");

              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editProduct(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +
                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusKelas(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              
              var tmp = [no, value.id, value.nama, harga, hargaJual, totalHarga, totalHargaJual, value.feeBiller1, value.feeBiller2, 
              value.keterangan, value.isGift, btn1]
              dataSet.push(tmp)
            });
            $('#modal-loading').modal('hide');
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">

            <div class="form-group row">
              <label for="editNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="addHarga" class="col-sm-3 col-form-label">Harga</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addHarga" placeholder="Harga Beli">
              </div>
            </div>

            <div class="form-group row">
              <label for="addHargaJual" class="col-sm-3 col-form-label">Harga Jual</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addHargaJual" placeholder="Harga Jual">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="addJumlah" class="col-sm-3 col-form-label">Jumlah</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addJumlah" placeholder="Jumlah pcs">
              </div>
            </div>

            <div class="form-group row">
              <label for="addBiller1" class="col-sm-3 col-form-label">Fee Biller 1</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addBiller1" placeholder="Fee Biller 1">
              </div>
            </div>

            <div class="form-group row">
              <label for="addBiller2" class="col-sm-3 col-form-label">Fee Biller 2</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addBiller2" placeholder="Fee Biller 2">
              </div>
            </div>

            <div class="form-group row">
              <label for="addIsGift" class="col-sm-3 col-form-label">Is Gift</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addIsGift" placeholder="Apakah Gift">
              </div>
            </div>

            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="addKeterangan" placeholder="Keterangan" rows="4"></textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-product">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form-horizontal">
        <div class="modal-body">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>

            <div class="form-group row">
              <label for="editNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="editNama" placeholder="Nama">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="editHarga" class="col-sm-3 col-form-label">Harga</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editHarga" placeholder="Harga Beli">
              </div>
            </div>

            <div class="form-group row">
              <label for="editHargaJual" class="col-sm-3 col-form-label">Harga Jual</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editHargaJual" placeholder="Harga Jual">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="editJumlah" class="col-sm-3 col-form-label">Jumlah</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editJumlah" placeholder="Jumlah pcs">
              </div>
            </div>

            <div class="form-group row">
              <label for="editBiller1" class="col-sm-3 col-form-label">Fee Biller 1</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editBiller1" placeholder="Fee Biller 1">
              </div>
            </div>

            <div class="form-group row">
              <label for="editBiller2" class="col-sm-3 col-form-label">Fee Biller 2</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editBiller2" placeholder="Fee Biller 2">
              </div>
            </div>

            <div class="form-group row">
              <label for="editIsGift" class="col-sm-3 col-form-label">Is Gift</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="editIsGift" placeholder="Apakah Gift">
              </div>
            </div>

            <div class="form-group row">
              <label for="editKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="editKeterangan" placeholder="Keterangan" rows="4"></textarea>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-dark btnEdit">Edit Data</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


