<link rel="stylesheet" href="plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
<style>
  .ui-datepicker-calendar {
    display: none;
  }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                
              </h3>
              <button type="button" data-toggle="modal" onclick="getDataKelas(1)" data-target="#modal-add-devisi" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Add Data 
              </button>
              <button type="button" onclick="filterTagihan()" class="btnFilter btn btn-info btn-sm">
                <i class="fa fa-search"></i> Filter 
              </button> 
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<!-- page script -->

<script src="plugins/datatables/jquery.dataTables.js"></script>
<script src="plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
<script>
  $(document).ready(function(){ 
    $('.select2').select2();

    window.getLabelMonth =  function(bulan){
      switch(bulan){
        case 1 :
          return 'Januari'
          break;
        case 2 :
          return 'Februari'
          break;
        case 3 :
          return 'Maret'
          break;
        case 4 :
          return 'April'
          break;
        case 5 :
          return 'Mei'
          break;
        case 6 :
          return 'Juni'
          break;
        case 7 :
          return 'Juli'
          break;
        case 8 :
          return 'Agustus'
          break;
        case 9 :
          return 'September'
          break;
        case 10 :
          return 'Oktober'
          break;
        case 11 :
          return 'Nopember'
          break;
        case 12 :
          return 'Desember'
          break;
      }
    }

    //FILTER
    let dropdownTahun = document.getElementById('tahun-dropdown');
    dropdownTahun.length = 0;
    fetch('/tahun/all') 
    .then(  
    function(response) {  
      let defaultTahun = document.createElement('option');
      defaultTahun.text = 'Semua Tahun Ajaran';
      defaultTahun.value = '';
      dropdownTahun.add(defaultTahun);
      dropdownTahun.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTahun.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownJurusan = document.getElementById('jurusan-dropdown');
    dropdownJurusan.length = 0;
    fetch('/jurusan/all') 
    .then(  
    function(response) {  
      let defaultJurusan = document.createElement('option');
      defaultJurusan.text = 'Semua Jurusan';
      defaultJurusan.value = '';
      dropdownJurusan.add(defaultJurusan);
      dropdownJurusan.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownJurusan.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error FIlter Jurusan -', err);  
    });

    let dropdownFilterTingkat = document.getElementById('filter-tingkat-dropdown');
    dropdownFilterTingkat.length = 0;
    fetch('/tingkat/all') 
    .then(  
    function(response) {  
      let defaultTingkat = document.createElement('option');
      defaultTingkat.text = 'Semua Tingkat';
      defaultTingkat.value = '';
      dropdownFilterTingkat.add(defaultTingkat);
      dropdownFilterTingkat.selectedIndex = 0;
      response.json().then(function(data) {  
        let optionTingkat;
        for (let i = 0; i < data.data.length; i++) {
            optionTingkat = document.createElement('option');
            optionTingkat.text = data.data[i].nama;
            optionTingkat.value = data.data[i].id;
            dropdownFilterTingkat.add(optionTingkat);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error Filter Tingkat -', err);  
    });

    let dropdownKelas = document.getElementById('kelas-dropdown');
    dropdownKelas.length = 0;
    fetch('/kelas/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Semua Kelas';
      defaultOption.value = '';
      dropdownKelas.add(defaultOption);
      dropdownKelas.selectedIndex = 0;

      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownKelas.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error Filter Kelas -', err);  
    });
    //END FILTER

    $('.date-picker').datepicker( {
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'mm-yy',
        onClose: function(dateText, inst) { 
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        }
    });

    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      lengthMenu: [
                  [10, 25, 50, -1],
                  ['10 Data', '25 Data', '50 Data', 'Semua Data']
              ],
              dom: 'Bfrtip',
              buttons: [
                  { extend: 'pdf', text: '<i class="fas fa-file-pdf fa-1x" aria-hidden="true"> Exportar a PDF</i>' },
                  { extend: 'csv', text: '<i class="fas fa-file-csv fa-1x"> Exportar a CSV</i>' },
                  { extend: 'excel', text: '<i class="fas fa-file-excel" aria-hidden="true"> Exportar a EXCEL</i>' },
                  { extend: 'print', text: '<i class="fas fa-print" aria-hidden="true"> Print</i>' },
                  'pageLength'
              ],
      exportOptions: {
          columns: ':visible',
          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return data.replace(',', '');
              }
          }
      },
      columns: [
          { title: "No" },
          { title: "Nama" },
          { title: "Kelas" },
          { title: "Jurusan" },
          { title: "Tagihan" },
          { title: "Bulan" },
          { title: "Tahun" },
          { title: "Nominal", data: "7", render: $.fn.dataTable.render.number('.', ',', 0, 'Rp ') },
          { title: "Status" },
          { title: "Tanggal" },
          { title: "Action" }
      ],
      columnDefs: [
          {
              "targets": [3, 9], // your case first column
              "className": "text-center",
          },
          {
              "targets": [0, 3, 9], // your case first column
              "width" : "5%"
          }
      ],
    });

    let dropdownTingkat = document.getElementById('tingkat-dropdown');
    dropdownTingkat.length = 0;
    fetch('/tingkat/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      /*defaultOption.text = 'Semua Tingkat';
      defaultOption.value = '';
      dropdownTingkat.add(defaultOption);*/
      
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTingkat.add(option);
        }    
        dropdownTingkat.selectedIndex = 0;
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error Tingkat Add -', err);  
    });

    window.getDataKelas = function(tipe){
      if(tipe == 1){
        $('#multiple-jurusan').empty();
      }
      
      var id = $('#tingkat-dropdown').val();
      var idJurusan = $('#multiple-jurusan').val();
      var qryJurusan = "&jurusanId=" + idJurusan;
      
      fetch('/waliKelas/filter?id=tingkatId=' + id+ qryJurusan, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          if(tipe == 1){
            let dropdownJurusan = document.getElementById('multiple-jurusan');
            $('#multiple-jurusan').empty();
            let option;
            for (let i = 0; i < response.jurusan.length; i++) {
                option = document.createElement('option');
                option.text = response.jurusan[i].nama;
                option.value = response.jurusan[i].id;
                dropdownJurusan.add(option);
            }
          }

          $('#multiple-kelas').empty();
          let dropdownKelas = document.getElementById('multiple-kelas');
          for (let i = 0; i < response.kelas.length; i++) {
              option = document.createElement('option');
              option.text = response.kelas[i].nama;
              option.value = response.kelas[i].id;
              dropdownKelas.add(option);
          }    
        }
      });
    }

    window.filterTagihan = function(){
      $('.btnFilter').prop("disabled", true);
      $('.btnFilter').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );
      
      $('#modal-filter-tagihan').modal('show');
      
      $('.btnFilter').prop("disabled", false);
        $('.btnFilter').html(
          `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter`
        ); 
    }

    let dropdownProduct = document.getElementById('pembayaran-dropdown');
    dropdownProduct.length = 0;
    fetch('/product/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Pembayaran';
      defaultOption.value = '';
      dropdownProduct.add(defaultOption);
      dropdownProduct.selectedIndex = 0;
      
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownProduct.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error Prodcut -', err);  
    });

    let dropdownTingkat2 = document.getElementById('tingkat-dropdown2');
    dropdownTingkat2.length = 0;
    fetch('/tingkat/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Tingkat';
      defaultOption.value = '';
      dropdownTingkat2.add(defaultOption);
      dropdownTingkat2.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownTingkat2.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    let dropdownJurusan2 = document.getElementById('jurusan-dropdown2');
    dropdownJurusan2.length = 0;
    fetch('/jurusan/all') 
    .then(  
    function(response) {  
      let defaultOption = document.createElement('option');
      defaultOption.text = 'Pilih Jurusan';
      defaultOption.value = '';
      dropdownJurusan2.add(defaultOption);
      dropdownJurusan2.selectedIndex = 0;
      // Examine the text in the response  
      response.json().then(function(data) {  
        let option;
        for (let i = 0; i < data.data.length; i++) {
            option = document.createElement('option');
            option.text = data.data[i].nama;
            option.value = data.data[i].id;
            dropdownJurusan2.add(option);
        }    
      });  
      }  
    )  
    .catch(function(err) {  
      alert('Fetch Error -', err);  
    });

    $('.btnSearch').on('click', function(){
      $('.btnSearch').prop("disabled", true);
      $('.btnSearch').html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
      );

      var tahun = document.getElementById("tahun-dropdown").value;
      var jurusan = document.getElementById("jurusan-dropdown").value;
      var tingkat = document.getElementById("filter-tingkat-dropdown").value;
      var kelas = document.getElementById("kelas-dropdown").value;

      loadData();
      $('#modal-filter-tagihan').modal('hide');

      $('.btnSearch').prop("disabled", false);
      $('.btnSearch').html(
        `<span aria-hidden="false"></span> <i class="fa fa-search"></i> Filter Data`
      )
    });

    $('.btnSave').on('click', function(){
      
        var nama = document.getElementById("addNama").value;
        var tingkat = document.getElementById("tingkat-dropdown").value;
        var jurusan = $('#multiple-jurusan').val();
        var kelas = $('#multiple-kelas').val();
        var idPembayaran = $('#pembayaran-dropdown').val();
        var bulanAwal = document.getElementById("mulai-bulan").value;
        var bulanAkhir = document.getElementById("sampai-bulan").value;
        var keterangan = document.getElementById("addKeterangan").value;

        if(bulanAwal != null && bulanAwal != ''){
          bulanAwal = '01-'+bulanAwal;
        }

        if(bulanAkhir != null && bulanAkhir != ''){
          bulanAkhir = '01-'+bulanAkhir;
        }

        alert(nama + " - " + tingkat + " - " + jurusan + " - " + kelas + " - " + idPembayaran + " - " + bulanAwal + " - " + bulanAkhir + " - " + keterangan)
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/tagihan/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nama: nama,
              tingkat: tingkat,
              jurusan: jurusan,
              kelas: kelas,
              idPembayaran: idPembayaran,
              bulanAwal: bulanAwal,
              bulanAkhir: bulanAkhir,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-devisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/tagihan/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-divisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var nama = document.getElementById("namaEdit").value ;
        var keterangan = document.getElementById("keteranganEdit").value ;
        var jurusan = document.getElementById("jurusan-dropdown2").value;
        var tingkat = document.getElementById("tingkat-dropdown2").value;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/tagihan/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              nama: nama,
              keterangan: keterangan,
              jurusan : jurusan,
              tingkat : tingkat
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-devisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.editTagihan = function(id){
      fetch('/tagihan/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("namaEdit").value = response.data.nama;
          document.getElementById("jurusan-dropdown2").value = response.data.jurusan.id;
          document.getElementById("tingkat-dropdown2").value = response.data.tingkat.id;
          document.getElementById("keteranganEdit").value = response.data.keterangan;

          $('#modal-edit-devisi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusTagihan = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      dataSet = Array()      
      var tahun = document.getElementById("tahun-dropdown").value;
      var jurusan = document.getElementById("jurusan-dropdown").value;
      var tingkat = document.getElementById("filter-tingkat-dropdown").value;
      var kelas = document.getElementById("kelas-dropdown").value;

      const urlParams = new URLSearchParams(window.location.search);
      var myParam = urlParams.get('thisMonth');
      var isPaid = urlParams.get('isPaid');
      
      if(myParam == 'null' || myParam === null){
        myParam = '';
      }

      if(isPaid == 'null' || isPaid === null){
        isPaid = '';
      }
      
      fetch('/tagihan/all?kelas='+kelas+'&tahun='+tahun+'&tingkat='+tingkat+'&jurusan='+jurusan+'&thisMonth='+myParam + '&isPaid='+ isPaid) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            $.each( response.data, function( key, value ) {
              no++;
              var num = new Number(value.harga).toLocaleString("id-ID");
              var btn1 = '<button type="button" class="btn btn-warning btn-sm" onclick="editTagihan(' + value.id + ')">'+
                          '<i class="fa fa-edit"></i>'+
                        '</button>' +

                        '<button type="button" class="btn btn-danger btn-sm" onclick="hapusTagihan(' + value.id + ')">'+
                          '<i class="fa fa-trash"></i>'+
                        '</button>';
              var status = '-';
              if(value.status == 1){
                status = '<span class="badge badge-success">TERBAYAR</span>';
              }
              console.log(value)
              var tmp = [no, value.user.userName, value.waliKelas.kelas.nama, value.waliKelas.kelas.jurusan.nama, 
              value.namaTagihan, getLabelMonth(value.bulan), value.tahun, value.harga, status, value.tanggalBayar, btn1]
              dataSet.push(tmp)
            });

            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

  })
</script>

{{> footer }}

<div class="modal fade" id="modal-add-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama Tagihan">
              </div>
            </div>
            <div class="form-group row">
              <label for="tingkat-dropdown" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="tingkat-dropdown" class="form-control" name="selectTingkat" onchange="getDataKelas(1)"></select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Jurusan</label>
              <div class="select2-purple col-sm-9" >
                <select class="select2" id="multiple-jurusan" multiple="multiple" onchange="getDataKelas(2)" data-placeholder="Semua Jurusan" data-dropdown-css-class="select2-purple" style="width: 100%;">
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Kelas</label>
              <div class="select2-purple col-sm-9" >
                <select class="select2" id="multiple-kelas" multiple="multiple" data-placeholder="Semua Kelas" data-dropdown-css-class="select2-purple" style="width: 100%;">
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="pembayaran-dropdown" class="col-sm-3 col-form-label">Pembayaran</label>
              <div class="col-sm-9">
                <select id="pembayaran-dropdown" class="form-control" name="selectPembayaran"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="mulai-bulan" class="col-sm-3 col-form-label">Mulai Bulan</label>
              <div class="col-sm-9">
                <input type="text" class="form-control date-picker" id="mulai-bulan" placeholder="Mulai Bulan">
              </div>
            </div>
            <div class="form-group row">
              <label for="sampai-bulan" class="col-sm-3 col-form-label">End Bulan</label>
              <div class="col-sm-9">
                <input type="text" class="form-control date-picker" id="sampai-bulan" placeholder="Sampai Bulan">
              </div>
            </div>
            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea rows="3" class="form-control" id="addKeterangan" placeholder="Keterangan"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-filter-tagihan">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h4 class="modal-title">Filter {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">            
            {{!-- <div class="form-group row">
              <label for="wali-dropdown" class="col-sm-3 col-form-label">Wali</label>
              <div class="col-sm-9">
                <select id="wali-dropdown" class="form-control" name="selectWali"></select>
              </div>
            </div> --}}
            <div class="form-group row">
              <label for="tahun-dropdown" class="col-sm-3 col-form-label">Tahun</label>
              <div class="col-sm-9">
                <select id="tahun-dropdown" class="form-control" name="selectTahun"></select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="jurusan-dropdown" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown" class="form-control" ></select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="filter-tingkat-dropdown" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="filter-tingkat-dropdown" class="form-control" ></select>
              </div>
            </div>

            <div class="form-group row">
              <label for="kelas-dropdown" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown" class="form-control" name="selectKelas"></select>
              </div>
            </div>
          
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSearch"><i class="fa fa-search"></i> Filter Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-devisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="namaEdit" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="namaEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="jurusan-dropdown2" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown2" class="form-control" name="selectJurusan2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tingkat-dropdown2" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="tingkat-dropdown2" class="form-control" name="selectTingkat2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="keteranganEdit" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="keteranganEdit" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


