<link rel="stylesheet" href="/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <div class="table-responsive">
                  <table id="example1" class="table table-bordered table-striped table-responsive w-100 d-block d-md-table" width="100%"></table>
                  </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="/admin/plugins/datatables/jquery.dataTables.js"></script>
<script src="/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>

<!-- page script -->

<script>
  $(document).ready(function(){ 
    var dataSet = Array();
    var table = $('#example1').DataTable({
      scrollCollapse: true,
      data: dataSet,
      dom: 'Bfrtip',
      lengthMenu: [
                  [10, 25, 50, -1],
                  ['10 Data', '25 Data', '50 Data', 'Semua Data']
              ],
              dom: 'Bfrtip',
              buttons: [
                  { extend: 'pdf', text: '<i class="fas fa-file-pdf fa-1x" aria-hidden="true"> Exportar a PDF</i>' },
                  { extend: 'csv', text: '<i class="fas fa-file-csv fa-1x"> Exportar a CSV</i>' },
                  { extend: 'excel', text: '<i class="fas fa-file-excel" aria-hidden="true"> Exportar a EXCEL</i>' },
                  { extend: 'print', text: '<i class="fas fa-print" aria-hidden="true"> Print</i>' },
                  'pageLength'
              ],
      exportOptions: {
          columns: ':visible',
          format: {
              body: function(data, row, column, node) {
                  data = $('<p>' + data + '</p>').text();
                  return data.replace(',', '');
              }
          }
      },
      columns: [
          { title: "No" },
          { title: "ID User" },
          { title: "Nama" },
          { title: "Tagihan Id" },
          { title: "Status" },
          { title: "Jenis Transaksi" },
          { title: "Tanggal" },
          { title: "Tanggal Bayar" },
          { title: "Via " },
          { title: "Id Pembayaran" },
          { title: "Nominal" },
          { title: "Id Produk" },
          { title: "Nama Produk" },
          { title: "Action" }
      ],
      columnDefs: [
          /*{
              "targets": [8], // your case first column
              "className": "text-center",
          },*/
          {
              "targets": [0,1], // your case first column
              "width" : "3%"
          }
      ],
    });

    $('.btnSave').on('click', function(){
        var keterangan = document.getElementById("addKeterangan").value;
        var nama = document.getElementById("addNama").value;
        var nominal = document.getElementById("addNominal").value;
        var group = document.getElementById("group-dropdown").value;
        var jurusan = document.getElementById("jurusan-dropdown").value;
        var kelas = document.getElementById("kelas-dropdown").value;
        var tingkat = document.getElementById("tingkat-dropdown").value;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              nama: nama,
              jurusan: jurusan,
              tingkat: tingkat,
              kelas: kelas,
              group: group,
              nominal: nominal,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil ditambahkan')
            $('#modal-add-transaksi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Add Data`
          );
        });
    });

    $('.btnDelete').on('click', function(){
        var idHapus = document.getElementById("idHapus").value;
        
        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: idHapus
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil dihapus')
            $('#modal-hapus-divisi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }

          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Delete`
          );
        });
    });

    $('.btnEdit').on('click', function(){
        var id = document.getElementById("idEdit").value ;
        var nama = document.getElementById("namaEdit").value ;
        var group = document.getElementById("group-dropdown2").value;
        var jurusan = document.getElementById("jurusan-dropdown2").value;
        var tingkat = document.getElementById("tingkat-dropdown2").value;
        var kelas = document.getElementById("kelas-dropdown2").value;
        var nominal = document.getElementById("nominalEdit").value;
        var keterangan = document.getElementById("keteranganEdit").value ;

        $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/update', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              id: id,
              nama: nama,
              jurusan: jurusan,
              tingkat: tingkat,
              kelas: kelas,
              group: group,
              nominal: nominal,
              keterangan: keterangan
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success(response.message)
            $('#modal-edit-transaksi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Edit Data`
          );
        });
    });

    window.suksesManual = function(id){
      $('#modal-sukses-transaksi').modal('show');
      document.getElementById("idTransaksi").value = id;
    }
    
    $('.btnSuccess').on('click', function(){
      var idTransaksi = document.getElementById("idTransaksi").value;

      $(this).prop("disabled", true);
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
        fetch('/transaksi/sukses', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
              idTransaksi: idTransaksi,
            })
        })
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            toastr.success('Data berhasil disukseskan')
            $('#modal-sukses-transaksi').modal('hide');
            loadData()
          }else{
            var keterangan = "";
            if( Array.isArray(response.errors)){
              $.each( response.errors, function( key, value ) {
                keterangan += value.msg + "\n";
                toastr.error(value.msg)
              });
            }else{
                toastr.error(response.message)
            }
          }
          $(this).prop("disabled", false);
          $(this).html(
            `<span aria-hidden="false"></span> Success`
          );
        });
    });
    
    window.detailTransaksi = function(id){
      fetch('/transaksi/edit?id=' + id, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      })
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          document.getElementById("idEdit").value = response.data.id;
          document.getElementById("namaEdit").value = response.data.nama;
          document.getElementById("group-dropdown2").value = response.data.groupTransaksi.id;
          
          if(null == response.data.jurusan){
            document.getElementById("jurusan-dropdown2").value = '';
          }else{
            document.getElementById("jurusan-dropdown2").value = response.data.jurusan.id;
          }

          if(null == response.data.kelasTingkat){
            document.getElementById("tingkat-dropdown2").value = '';
          }else{
            document.getElementById("tingkat-dropdown2").value = response.data.kelasTingkat.id;
          }

          if(null == response.data.kelas){
            document.getElementById("kelas-dropdown2").value = '';
          }else{
            document.getElementById("kelas-dropdown2").value = response.data.kelas.id;
          }

          document.getElementById("nominalEdit").value = response.data.nominal;
          document.getElementById("keteranganEdit").value = response.data.keterangan;

          $('#modal-edit-transaksi').modal('show');
        }else{
          var keterangan = "";
          $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
          });
          alert(keterangan)
        }
      });
    }

    window.hapusKelas = function(id){
      $('#modal-hapus-divisi').modal('show');
      document.getElementById("idHapus").value = id;
    }

    window.loadData = function(){
      dataSet = Array()
      $('#modal-loading').modal('show');
      const urlParams = new URLSearchParams(window.location.search);
      const myParam = urlParams.get('param');
      fetch('/transaksi/all?param=' + myParam) 
        .then(response => response.json())
        .then((response) => {
          if(response.success){
            var no = 0;
            console.log(response)
            $.each( response.data, function( key, value ) {
              no++;
              var btnStatus = '';
              var status = '';
              var idProduk = '';
              var namaProduk = '';
              var jenisTransaksi = '';

              if(value.product == null){
                jenisTransaksi = "Upgrade";
                idProduk = value.productMember.id;
                namaProduk = value.productMember.nama;
              }else{
                jenisTransaksi = "Belanja";
                idProduk = value.product.id;
                namaProduk = value.product.nama;
              }

              if(value.status == 1){
                status = '<span class="badge badge-success">TERBAYAR</span>';
                btnStatus = 'disabled';
              }

              var btn1 = '<button '+ btnStatus + ' type="button" class="btn btn-success btn-sm" onclick="suksesManual(\'' + value.orderId + '\')">'+
                          '<i class="fa fa-check"></i>'+
                        '</button>';
              var nominal = new Number(value.jumlahNominal).toLocaleString("id-ID");
              var tmp = [no, value.user.id, value.user.name, value.id, 
                status, jenisTransaksi, value.createdDate, value.tanggalBayar, value.via, value.idPembayaran, 
                nominal, idProduk, namaProduk, btn1]
              dataSet.push(tmp)
            });
            $('#modal-loading').modal('hide');
            table.clear();
            table.rows.add(dataSet);
            table.draw();
          }else{
            $('#modal-loading').modal('hide');
            var keterangan = response.message;
            toastr.error(keterangan) 
          }
        }); 
      
    }

    loadData();

  })
</script>

{{> footerAdmin }}

<div class="modal fade" id="modal-add-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">New {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="addNama" placeholder="Nama Transaksi">
              </div>
            </div>
            <div class="form-group row">
              <label for="group-dropdown" class="col-sm-3 col-form-label">Group</label>
              <div class="col-sm-9">
                <select id="group-dropdown" class="form-control" ></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="jurusan-dropdown" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown" class="form-control" name="selectJurusan"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tingkat-dropdown" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="tingkat-dropdown" class="form-control" name="selectTingkat"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-dropdown" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown" class="form-control" name="selectKelas"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nominal</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="addNominal" placeholder="Nominal">
              </div>
            </div>
            <div class="form-group row">
              <label for="addKeterangan" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea rows="3" class="form-control" id="addKeterangan" placeholder="Keterangan"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSave">Add Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-edit-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h4 class="modal-title">Edit {{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="idEdit" class="col-sm-3 col-form-label">Id</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="idEdit" placeholder="Id" readonly>
              </div>
            </div>
            <div class="form-group row">
              <label for="namaEdit" class="col-sm-3 col-form-label">Nama</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="namaEdit">
              </div>
            </div>
            <div class="form-group row">
              <label for="group-dropdown2" class="col-sm-3 col-form-label">Group</label>
              <div class="col-sm-9">
                <select id="group-dropdown2" class="form-control" ></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="jurusan-dropdown2" class="col-sm-3 col-form-label">Jurusan</label>
              <div class="col-sm-9">
                <select id="jurusan-dropdown2" class="form-control" name="selectJurusan2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="tingkat-dropdown2" class="col-sm-3 col-form-label">Tingkat</label>
              <div class="col-sm-9">
                <select id="tingkat-dropdown2" class="form-control" name="selectTingkat2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="kelas-dropdown2" class="col-sm-3 col-form-label">Kelas</label>
              <div class="col-sm-9">
                <select id="kelas-dropdown2" class="form-control" name="selectKelas2"></select>
              </div>
            </div>
            <div class="form-group row">
              <label for="addNama" class="col-sm-3 col-form-label">Nominal</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id="nominalEdit" placeholder="Nominal">
              </div>
            </div>
            <div class="form-group row">
              <label for="keteranganEdit" class="col-sm-3 col-form-label">Keterangan</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="keteranganEdit" placeholder="Keterangan" rows="3"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnEdit">Edit Data</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-hapus-divisi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="modal-title">Delete {{title}}</h4>
        <input type="text" style="visibility:hidden ;" id="idHapus">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan menghapus data {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnDelete">Delete</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-sukses-transaksi">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h4 class="modal-title">Sukseskan {{title}}</h4>
        <input type="text" style="visibility: hidden;" id="idTransaksi">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Apakah anda yakin akan mesukseskan {{title}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-dark btnSuccess">Success</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


