<footer>
    <div class="site-footer">
        <div class="wrapper">
            <div class="address">
                
            </div>
            <div class="social">
            </div>
            <div class="copyright">
                Copyright @ 2021 RumahKios.com</div>
        </div>
    </div>
    <div id="basketbox" class="basketbox">
        <div class="wrapper">
            <div class="basket">
                <div class="basket-cart">
                    <i class="lni lni-shopping-basket"></i>
                    <div class="basket-cart-item-count">0</div>
                </div>
                <div class="basket-detail">
                    <div class="basket-items-label">
                        Total Belanja
                    </div>
                    <div class="basket-items-total">
                    </div>
                </div>
                <div class="basket-next">
                    <button type="button">Lanjut</button>
                </div>
            </div>
        </div>
    </div>	
    <div id="cart" class="cart">
        <div class="cart-inner">
            <div class="cart-head">
                <div class="wrapper-cart">
                    <div class="back">
                        <i class="lni lni-arrow-left"></i>
                    </div>
                </div>
            </div>
            <div class="cart-content">
                <div class="wrapper-cart">
                    <div class="cart-content-items">
                        <div class="cart-content-items-head">
                            <div class="cart-content-items-head-title">
                                Order Item(s)
                            </div>
                            <div class="cart-content-items-head-add">
                                + Tambah
                            </div>
                        </div>
                        <div class="cart-content-items-list">
                        </div>
                    </div>
                    <div class="cart-content-form">
                        <div class="cart-content-form-head">
                            <div class="cart-content-form-head-title">
                                Diisi yang Lengkap                        
                            </div>
                        </div>
                        <div class="cart-content-form-list">
                            <div class="customer">
                                <div class="customer-field">
                                    <label>Nama :</label>
                                    <input type="text" name="name" value=""/>
                                </div>
                                <div class="customer-field">
                                    <label>Nomor Whatsapp :</label>
                                    <input type="number" name="phone" value=""/>
                                </div>
                                <div class="customer-field">
                                    <label>Pilih Metode Pengiriman :</label>
                                    <select id="choose-kirim" class="choose-kirim">
                                        <option value="kirim">Kirim Melalui Kurir</option>
                                        <option value="dinein">Dine in / ambil di Outlet</option>
                                    </select>
                                </div>
                                <div class="customer-field" style="display: none;" id="changeJam">
                                    <label>Diambil Tanggal Jam :</label>
                                    <input type="datetime-local" name="jam" id="jam"/>
                                </div>
                                <div class="customer-field" id="changeKota">
                                    <label>Kirim Ke Kota :</label>
                                    <select id="slim-select" class="slim-select"></select>
                                    <input style="display: none;" type="text" name="district_name" value=""/>
                                    <input style="display: none;" type="text" name="district_id" value=""/>
                                </div>
                                <div class="customer-field" id="changeKurir" style="display: none;"> 
                                    <label>Pilih Kurir :</label>
                                    <select id="choose-ongkir" class="choose-ongkir form-control">
                                        <option value="">Pilih kota tujuan pengiriman dulu</option>
                                    </select>
                                </div>
                                <div class="customer-field">
                                    <label>Pilih Metode Bayar :</label>
                                    <select id="viaPembayaran"></select>
                                </div>
                                <div class="customer-field">
                                    <label>Alamat Lengkap :</label>
                                    <textarea name="address"></textarea>
                                </div>
                                <div class="customer-field">
                                    <label>Pesan untuk penjual :</label>
                                    <textarea name="note"></textarea>
                                </div>
                                <div class="customer-field" id="alamatPenjual" style="display: none">
                                    <label>Barang dikirim penjual dari :</label>
                                    <textarea id="addressPenjual" name="addressPenjual" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-content-detail">
                        <div class="cart-content-detail-head">
                            <div class="cart-content-detail-head-title">
                                Order Detail
                            </div>
                        </div>
                        <div class="cart-content-detail-list">
                        </div>
                    </div>
                    <div class="cart-content-submit">
                        <button type="button" id="submit">Pesan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="template-productcart">
        <div class="productcart">
            <div class="content">
                <div class="image">
                    <img src="{item_image}">
                </div>

                <div class="detail">
                    <h3>{item_name}</h3>

                    <div class="pricing">{item_price}</div>
                    <div >{free_ongkir}</div>
                    <div >{dine_in}</div>
                    <div class="atc clear">
                        <div class="qty qty-selector clear" data-item-id="{item_id}">
                            <button type="button" class="minus cart-button-qty" data-qty-action="minus">-</button>
                            <input min="0" type="number" value="{item_qty}" name="qty">
                            <button type="button" class="plus cart-button-qty" data-qty-action="plus">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/html" id="template-detail">
        <table>
            <tr>
                <td>Harga</td>
                <td class="value">{subtotal}</td>
            </tr>
            <tr>
                <td>Berat</td>
                <td class="value">{weight}</td>
            </tr>
            <tr>
                <td>ONGKIR MENYESUAIKAN JARAK</td>
                <td class="value">
                    {ongkir}
                </td>
            </tr>
            <tr>
                <td>Total Harga</td>
                <td class="value">{total}</td>
            </tr>
        </table>
    </script>
    <div id="support-wa-toggle" class="wa-support">
        <i class="lni lni-whatsapp"></i>
    </div>
    <div id="support-wa" class="wa-support-box">
        <div class="wa-support-body">
            <div class="wa-support-heading clear">
                <b>Form</b> Bantuan Whatsapp!
            </div>
            <form class="wa-support-form" method="post" enctype="multipart/form-data">
                <div class="input">
                    <i class="icon ion-md-person"></i>
                    <input type="text" name="name" placeholder="Nama Lengkap" required="" oninvalid="this.setCustomValidity('Input Nama Lengkap Anda')" oninput="this.setCustomValidity('')">
                </div>
                <div class="input">
                    <textarea name="message" placeholder="Pesan Anda"></textarea>
                </div>
                <button type="submit">
                    <i class="lni lni-whatsapp"></i> Kirim
                </button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
(function(w, d){
let b = d.getElementsByTagName('body')[0],
e = d.documentElement,
wWidth = w.innerWidth || e.clientWidth || b.clientWidth,
wHeight = w.innerHeight || e.clientHeight|| b.clientHeight;

if( main.font_uri ){
    let font = d.createElement('link');font.async = true;font.type = 'text/css';font.rel = 'stylesheet';font.href = main.font_uri;
    b.appendChild(font);
}

let icon = d.createElement('link');icon.async = true;icon.type = 'text/css';icon.rel = 'stylesheet';icon.href = '../cdn.lineicons.com/1.0.1/LineIcons.min.css';
b.appendChild(icon);

let lazyload = d.createElement('script'),lazyloadVersion = !('IntersectionObserver' in w) ? '8.17.0' : '10.19.0';lazyload.async = true;lazyload.src = 'https://cdn.jsdelivr.net/npm/vanilla-lazyload@' + lazyloadVersion + '/dist/lazyload.min.js';w.lazyLoadOptions = {elements_selector: '.lazy'};
b.appendChild(lazyload);

if( main.store_ongkir_enable && main.store_ongkir_provider == 'rajaongkir' ){
    let pembayaranVia = document.getElementById('viaPembayaran');
    pembayaranVia.length = 0;
    fetch('/metodeBayar?id=2', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then((response) => {
        if(response.success){
            let defaultOption = document.createElement('option');
            defaultOption.text = 'Pilih Via Pembayaran';
            defaultOption.value = '';
            pembayaranVia.add(defaultOption);
            pembayaranVia.selectedIndex = 0;
                        
            $.each( response.data, function( key, value ) {
                defaultOption = document.createElement('option');
                defaultOption.text = value.namaBank;
                defaultOption.value = value.idBank;
                pembayaranVia.add(defaultOption);
            });
        }else{
            var keterangan = "";
            $.each( response.errors, function( key, value ) {
            keterangan += value.msg + "\n";
            });
            alert(keterangan)
        }
    });

    let slimselect = d.createElement('script');
    slimselect.async = true;
    slimselect.src = 'https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.js';
    b.appendChild(slimselect);
  
    slimselect.onload = function(){
        new SlimSelect({
            select: '.slim-select',
            placeholder: 'Kota',
            searchingText: 'Searching . . .',
            ajax: function(search, callback){

                if( search.length < 1 ){
                    callback('Ketik minimal 3 huruf');
                    return;
                }
                //localhost:8080/homepage/getKota?kata=sid
                fetch('/kota?kata='+search)
                .then((respons) => respons.json())
                .then(function(json){
                    let data = [];
                    for (let i = 0; i < json.data.data.length; i++) {
                        /*let city = json[i].type+' '+json[i].city;
                        if( json[i].type == 'Kabupaten' ){
                            city = 'Kab. '+json[i].city;
                        }*/
                        //let label = json[i].subdistrict_name+', '+city+', '+json[i].province;
                        //let value = json[i].subdistrict_id+'-'+json[i].city_id;
                        let label = json.data.data[i].namaKota + " - " + json.data.data[i].provinsi.provinsiName;
                        let value = json.data.data[i].id;
                        data.push({text: label, value: value});
                    }
                    setTimeout(() => {
                        callback(data);
                    }, 100);
                })
                .catch(function(error){
                    callback(error);
                })
            },
            onChange: (info) => {
                FoodPress.rajaongkirLoad(info);
            }
        });
    }
    
}

let navMenuToggle = document.getElementById('nav-menu-toggle');
if( typeof(navMenuToggle) != 'undefined' && navMenuToggle !== null ){
    let navMenu = document.getElementById('nav-menu');
    if( typeof(navMenu) != 'undefined' && navMenu !== null ){
        navMenuToggle.onclick = function(){
            if ( -1 !== navMenu.className.indexOf( 'show' ) ) {
                navMenu.classList.remove('show');
                navMenu.style.visibility = 'hidden';
                navMenu.style.opacity = 0;
                navMenu.style.display = 'none';
            }else {
                navMenu.classList.add('show');
                navMenu.style.visibility = 'visible';
                navMenu.style.opacity = 1;
                navMenu.style.display = 'block';
            }
        }
    }
}

let navMenuLiHasChild = document.querySelectorAll('.menu-item-has-children');
for (var i = 0, length = navMenuLiHasChild.length; i < length; i++) {
    let children = navMenuLiHasChild[i].querySelector('.sub-menu');
    navMenuLiHasChild[i].addEventListener(
        'click',
        function(event){
            if ( -1 !== children.className.indexOf( 'show' ) ) {
                children.classList.remove('show');
                children.style.visibility = 'hidden';
                children.style.opacity = 0;
                children.style.display = 'none';
            }else {
                children.classList.add('show');
                children.style.visibility = 'visible';
                children.style.opacity = 1;
                children.style.display = 'block';
            }
            event.stopPropagation()
        },
        false
    );
}

let slider = d.createElement('script');
slider.async = true;
slider.src = 'https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.1/min/tiny-slider.js';
b.appendChild(slider);

/*slider.onload = function(){
    let slider = d.querySelector('.slider');
    if( typeof(slider) != 'undefined' && slider != null ){
        let sl = tns({
            container: '.slider',
            items: 1,
            slideBy: 'page',
            autoplay: true,
            speed: 300,
            autoplay: true,
            autoplayHoverPause: true,
            autoplayTimeout: 2500,
            swipeAngle: false,
            controls: false,
            arrowKeys: false,
            autoplayButton: false,
            autoplayText: ['▶','stop'],
            lazyload: '.tns-lazy-img',
        });
    }
}*/


FoodPress = {

    init: function(){
        let self = this;

        if( main.store_ongkir_enable ){
            localStorage.setItem('cart_ongkir', main.store_ongkir);
            localStorage.setItem('cart_ongkir_name', main.store_ongkir_name);
            localStorage.removeItem('cart_ongkir_list');
        }

        self.scrollCategory();
        self.loadMore();
        self.buttonAdd();
        self.buttonQty();
        self.loadBasket();
        self.openSupportWa();
    },
    viaBayarLoad: function(){
        
    },
    rajaongkirLoad: function(info){
        let $cart = d.getElementById('cart'),
        $cart_name = 'cart_' + main.store_id,
        $cart_items = localStorage.getItem($cart_name) ? JSON.parse(localStorage.getItem($cart_name)) : [],
        $weight = 0;
        
        $cart.querySelector('[name="district_name"]').value = info.text;
        $cart.querySelector('[name="district_id"]').value = info.value;

        $cart_items.forEach( function(item, i, object) {

            if( typeof(item.item_weight) == 'undefined' || item.item_weight == null ){
                item.item_weight = 1000;
            }

            let $sub_weight = parseInt(0);

$sub_weight = parseInt(item.qty) * parseInt(item.item_weight);
            /*if(item.item_ongkir === '1'){
                $sub_weight = parseInt(item.qty) * parseInt(item.item_weight);
            }*/

            $weight = $weight + $sub_weight;

        });

        $weight = $weight / 1000;

        let $url = '/ongkir?origin='+main.store_origin+'&destination='+info.value+'&weight=' + $weight;

        fetch($url)
        .then((respons) => respons.json())
        .then(function(json){
            if( json == '404' ){
                alert('Gagal mendapatkan data ongkir, silahkan hubungi admin');
            }else{
                //localStorage.setItem('cart_ongkir', json[0].value);
                //localStorage.setItem('cart_ongkir_name', '('+json[0].courier+' '+json[0].service+')');
                //localStorage.setItem('cart_ongkir_list', JSON.stringify(json.data));
                FoodPress.loadCart();
                let $ongkir_field = $cart.querySelector('#choose-ongkir'),
                $ongkirs = localStorage.getItem('cart_ongkir_list') ? JSON.parse(localStorage.getItem('cart_ongkir_list')) : [];
                $ongkir_field.options.length = 0;
                
                $ongkir_field.options.add(new Option('Pilih Kurir kesayangan anda', ''));
                $.each(json.data, function( key, value ) {
                    for(i = 0 ; i < value.listCourier.length ; i++){
                        let name = value.listCourier[i];
                        $ongkir_field.options.add(new Option(name, value.costs[i].cost[0].value));
                    }
                });
                /*for (let i = 0; i < $ongkirs.length; i++) {
                    
                }*/

                FoodPress.rajaongkirChoose();

            }

        })
        .catch(function(error){
            console.log(error);
        });
    },
    rajaongkirChoose: function(){
        let $cart = d.getElementById('cart'),
        $chooser = $cart.querySelector('#choose-ongkir');

        $chooser.onchange = function(){
            let text = this.options[this.selectedIndex].text;
            let valval = this.selectedIndex;
            let regExp = /\(([^)]+)\)/;
            let matches = regExp.exec(text);
            let $options = this.options;
            
            localStorage.setItem('cart_ongkir', this.value);
            localStorage.setItem('cart_ongkir_name', text);
            FoodPress.loadCart();

            let $ongkir_field = $cart.querySelector('#choose-ongkir')
            /*$ongkirs = localStorage.getItem('cart_ongkir_list') ? JSON.parse(localStorage.getItem('cart_ongkir_list')) : [];
            $ongkir_field.options.length = 0;
            for (let i = 0; i < $ongkirs.length; i++) {
                let name = main.currency.format($ongkirs[i].value)+' ('+$ongkirs[i].courier+' '+$ongkirs[i].service+')';
                $ongkir_field.options.add(new Option(name, $ongkirs[i].value));
            }*/

            $ongkir_field.selectedIndex = valval;

            FoodPress.rajaongkirChoose();
        }
    },
    scrollCategory: function(){
        let $box = d.getElementById('category-slide');
        if( typeof($box) != 'undefined' && $box != null ){
            let $left = $box.querySelector('.arrow-left'),
            $right = $box.querySelector('.arrow-right'),
            $catbox = $box.querySelector('.slide-category'),
            $scroll_width = $catbox.scrollWidth,
            $scroll_left = $catbox.scrollLeft;

            if( $scroll_width <= $catbox.clientWidth ){
                $right.style.display = 'none';
            }

            $scroll_width = parseInt($scroll_width) - parseInt($catbox.clientWidth);

            $right.addEventListener('click', function(){
                $catbox.scrollTo({
                    top: 0,
                    left: $scroll_left += 210,
                    behavior: 'smooth',
                });
                if( $scroll_left >= $scroll_width ){
                    $scroll_left = $scroll_width;
                    this.style.display = 'none';
                }else{
                    this.style.display = 'block';
                }
                $left.style.display = 'block';

            });

            $left.addEventListener('click', function(){
                $catbox.scrollTo({
                    top: 0,
                    left: $scroll_left  -= 200,
                    behavior: 'smooth',
                });
                if( $scroll_left <= 0 ){
                    $scroll_left = 0;
                    this.style.display = 'none';
                }else{
                    this.style.display = 'block';
                }
                $right.style.display = 'block';
            });


        }
    },
    loadMore: function(){
        let $buttons = d.querySelectorAll('.loadmore');
        for (var i = 0, length = $buttons.length; i < length; i++) {
            $buttons[i].onclick = function(element){
                this.innerHTML = 'Loading ...';
                let $wrapper = this.parentNode,
                $button = this,
                ajax = new XMLHttpRequest(),
                params = new URLSearchParams({
                    action: 'loadmore-products',
                    paged: this.getAttribute('data-paged'),
                    search: this.getAttribute('data-search'),
                    store_id: this.getAttribute('data-store-id'),
                    category_id: this.getAttribute('data-category-id'),
                    nonce: main.nonce
                });

                ajax.open('GET.html', main.ajax_url+'?'+params.toString(), true);
                ajax.onload = function(){
                    if( ajax.status === 200){
                        let $response = JSON.parse(ajax.responseText),
                        html = new DOMParser().parseFromString($response.products, 'text/html'),
                        products = html.querySelectorAll('.productbox');
                        products.forEach(function (product, key) {
                            $wrapper.querySelector('.products').appendChild(product);
                        });
                        new LazyLoad({elements_selector: ".lazy"});
                        if( $response.next ){
                            $button.innerHTML = 'Tampilkan lebih banyak';
                            $button.setAttribute('data-paged', $response.next);
                        }else{
                            $wrapper.removeChild($button);
                        }
                        FoodPress.init();
                    }
                }
                ajax.send();
            }
        }
    },
    buttonAdd: function(){
        let $buttons = d.querySelectorAll('.button-add');
        for (var i = 0, length = $buttons.length; i < length; i++) {
            let $atc = $buttons[i].parentNode;
            let $qty = $atc.querySelector('.qty');
            $buttons[i].onclick = function(element){
                $qty.querySelector('input').value = 1;
                this.style.display = 'none';
                $qty.style.display = 'block';
                FoodPress.collectItem($atc);
            }
        }
    },
    buttonQty: function(){
        let $buttons = d.querySelectorAll('.button-qty');
        for (var i = 0, length = $buttons.length; i < length; i++) {
            let $qty = $buttons[i].parentNode,
            $add = $qty.parentNode.parentNode.querySelector('.button-add'),
            $qty_input = $qty.querySelector('input'),
            $new_qty_input_value;
            $buttons[i].onclick = function(){
                if( this.getAttribute('data-qty-action') == 'plus' ){
                    $new_qty_input_value = parseInt($qty_input.value) + 1;
                }else{
                    $new_qty_input_value = parseInt($qty_input.value) - 1;
                }

                if( $new_qty_input_value < 1 ){
                    $new_qty_input_value = 0;
                    $qty.style.display = 'none';
                    $add.style.display = 'block';
                }

                $qty_input.value = $new_qty_input_value;
                FoodPress.collectItem($qty.parentNode);
            }
        }
    },
    collectItem: function(atc){
        let $inputs = atc.querySelectorAll('input'),
        $data = {};
        for (var i = 0, length = $inputs.length; i < length; i++) {
            let $name = $inputs[i].name;
            $data[$name] = $inputs[i].value;
        }
        let $cart_name = 'cart_' + $data.store_id,
        $cart_items = localStorage.getItem($cart_name) ? JSON.parse(localStorage.getItem($cart_name)) : [],
        $is_item_exists = false;

        $cart_items.forEach( function(item, i, object) {
            if( $data.item_id == item.item_id ){
                if( $data.qty < 1 ){
                    object.splice(i, 1)
                }else{
                    $cart_items[i].qty = $data.qty;
                }
                $is_item_exists = true;
            }

        });

        if( $is_item_exists == false ){
            $cart_items.push($data)
        }

        localStorage.setItem($cart_name, JSON.stringify($cart_items));
        FoodPress.loadBasket();
    },
    loadBasket: function(){
        let $footer = d.querySelector('footer'),
        $basketbox = d.getElementById('basketbox'),
        $total = 0,
        $subtotal = 0,
        $cart_name = 'cart_' + main.store_id,
        $cart_items = localStorage.getItem($cart_name) ? JSON.parse(localStorage.getItem($cart_name)) : [];

        if( $cart_items.length > 0 ){
            $cart_items.forEach( function(item, i, object) {
                let $atcs = d.querySelectorAll('.atc-item-'+item.item_id);
                for (var i = 0, length = $atcs.length; i < length; i++) {
                    let $qty = $atcs[i].querySelector('.qty');
                    $qty.querySelector('input').value = item.qty;
                    let $add = $atcs[i].querySelector('.button-add');
                    if( typeof($add) != 'undefined' && $add != null ){
                        $add.style.display = 'none';
                        $qty.style.display = 'block';
                    }
                }
                $subtotal = parseInt(item.item_price) * parseInt(item.qty);
                $total = $total + $subtotal;
            });

            $basketbox.querySelector('.basket-cart-item-count').innerHTML = $cart_items.length;
            $basketbox.querySelector('.basket-items-total').innerHTML = main.currency.format($total);
            //$basketbox.querySelector('.basket-items-store').innerHTML = main.store_name;

            $footer.classList.add('product-footer');
            $basketbox.style.display = 'block';
        }else{
            $footer.classList.remove('product-footer');
            if( typeof($basketbox) != 'undefined' && $basketbox != null ){
                $basketbox.style.display = 'none';
                let $atcs = d.querySelectorAll('.atc');
                for (var i = 0, length = $atcs.length; i < length; i++) {
                    let $add = $atcs[i].querySelector('.button-add');
                    if( typeof($add) != 'undefined' && $add != null ){
                        $add.style.display = 'block';
                    }
                    $atcs[i].querySelector('.qty').querySelector('input').value = 0;
                    $atcs[i].querySelector('.qty').style.display = 'none';
                }
            }
        }

        $basketbox.onclick = function(){
            FoodPress.openCart();
        }
    },
    cartButtonQty: function(){
        let $buttons = d.querySelectorAll('.cart-button-qty');
        for (var i = 0, length = $buttons.length; i < length; i++) {
            let $qty = $buttons[i].parentNode,
            $qty_input = $qty.querySelector('input'),
            $new_qty_input_value;
            $buttons[i].onclick = function(){
                let $item_id = $qty.getAttribute('data-item-id'),
                $cart_name = 'cart_' + main.store_id,
                $cart_items = localStorage.getItem($cart_name) ? JSON.parse(localStorage.getItem($cart_name)) : [];

                if( this.getAttribute('data-qty-action') == 'plus' ){
                    $new_qty_input_value = parseInt($qty_input.value) + 1;
                }else{
                    $new_qty_input_value = parseInt($qty_input.value) - 1;
                }

                if( $new_qty_input_value < 1 ){
                    $new_qty_input_value = 0;
                }

                $cart_items.forEach( function(item, i, object) {

                    if( $item_id == item.item_id ){

                        if( $new_qty_input_value < 1 ){
                            object.splice(i, 1);
                            let $atc = d.getElementById('atc-item-'+$item_id);
                            if( typeof($atc) != 'undefined' && $atc != null ){

                                let $add = $atc.querySelector('.button-add');
                                if( typeof($add) != 'undefined' && $add != null ){
                                    $add.style.display = 'block';
                                    $atc.querySelector('.qty').style.display = 'none';
                                }

                            }
                        }else{
                            $cart_items[i].qty = $new_qty_input_value;
                        }
                    }

                });

                localStorage.setItem($cart_name, JSON.stringify($cart_items));
                $qty_input.value = $new_qty_input_value;
                let $is_cart_exists = FoodPress.loadCart();
                if( $is_cart_exists ){

                }else{
                    FoodPress.closeCart();
                }
                FoodPress.loadBasket();
            }
        }
    },
    loadCart: function(){
        //$('.slim-select').val("").trigger('change');
        let $cart = d.getElementById('cart');
        $chooserKirim = $cart.querySelector('#choose-kirim');
        $chooserKirim.onchange = function(){
            let changeKota = document.getElementById('changeKota');
            let changeKurir = document.getElementById('changeKurir');
            let alamatPenjual = document.getElementById('alamatPenjual');
            let changeJam = document.getElementById('changeJam');
            if(this.value == 'dinein'){
                changeKota.style.display = 'none';
                changeKurir.style.display = 'none';
                alamatPenjual.style.display = 'none';
                changeJam.style.display = 'block';
                
                let pembayaranVia = document.getElementById('viaPembayaran');
                pembayaranVia.length = 0;
                fetch('/metodeBayar?id=3', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then((response) => {
                    if(response.success){
                        let defaultOption = document.createElement('option');
                        defaultOption.text = 'Pilih Via Pembayaran';
                        defaultOption.value = '';
                        pembayaranVia.add(defaultOption);
                        pembayaranVia.selectedIndex = 0;
                                   
                        $.each( response.data, function( key, value ) {
                            defaultOption = document.createElement('option');
                            defaultOption.text = value.namaBank;
                            defaultOption.value = value.idBank;
                            pembayaranVia.add(defaultOption);
                        });
                    }else{
                        var keterangan = "";
                        $.each( response.errors, function( key, value ) {
                        keterangan += value.msg + "\n";
                        });
                        alert(keterangan)
                    }
                });
            }else{
                changeKota.style.display = 'block';
                changeKurir.style.display = 'none';
                alamatPenjual.style.display = 'none';
                changeJam.style.display = 'none';
                
                let pembayaranVia = document.getElementById('viaPembayaran');
                pembayaranVia.length = 0;
                fetch('/metodeBayar?id=2', {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then((response) => {
                    if(response.success){
                        let defaultOption = document.createElement('option');
                        defaultOption.text = 'Pilih Via Pembayaran';
                        defaultOption.value = '';
                        pembayaranVia.add(defaultOption);
                        pembayaranVia.selectedIndex = 0;
                                    
                        $.each( response.data, function( key, value ) {
                            defaultOption = document.createElement('option');
                            defaultOption.text = value.namaBank;
                            defaultOption.value = value.idBank;
                            pembayaranVia.add(defaultOption);
                        });
                    }else{
                        var keterangan = "";
                        $.each( response.errors, function( key, value ) {
                        keterangan += value.msg + "\n";
                        });
                        alert(keterangan)
                    }
                });
            }
            
            FoodPress.loadCart();
        };
        
        
        let $items_list = '',
        $total = 0,
        $subtotal = 0,
        $weight = 0,
        $item_template = d.getElementById('template-productcart').innerHTML,
        $detail_template = d.getElementById('template-detail').innerHTML,
        $cart_name = 'cart_' + main.store_id,
        $cart_items = localStorage.getItem($cart_name) ? JSON.parse(localStorage.getItem($cart_name)) : [];
        $cart_ongkir = localStorage.getItem('cart_ongkir') ? localStorage.getItem('cart_ongkir') : main.store_ongkir;
        let isDineIn = document.getElementById("choose-kirim").value;
        if( $cart_items.length > 0 ){
            //$cart.querySelector('.cart-head-store').innerHTML = main.store_name;
            $cart.querySelector('.cart-content-items-head-add').innerHTML = '<a href="'+main.store_link+'">+ Tambah</a>';

            $cart_items.forEach( function(item, i, object) {
                let $template = $item_template,
                $price = '';
                $template = $template.replace('{item_image}', item.item_image);
                $template = $template.replace('{item_name}', item.item_name);
                if( item.item_price == item.item_price_slik ){
                    $price = '<span class="price">'+main.currency.format(item.item_price)+'</span>';
                }else{
                    $price = '<span class="price">'+main.currency.format(item.item_price)+'</span> <span class="price-slik">'+main.currency.format(item.item_price_slik)+'</span>';
                }
                $freeOngkir = "";
                $dineIn = "";
                if(item.item_ongkir === '0'){
                    //$freeOngkir = '<span class="price">Free Ongkir</span>';
                }
                if(item.item_dineIn === '1'){
                    $dineIn = '<span class="price">Bisa ambil dioutlet</span>';
                }
                $template = $template.replace('{free_ongkir}', $freeOngkir);
                $template = $template.replace('{item_price}', $price);
                $template = $template.replace('{dine_in}', $dineIn);
                $template = $template.replace('{item_qty}', item.qty);
                $template = $template.replace('{item_id}', item.item_id);
                $items_list += $template;

                let $subsubtotal = parseInt(item.item_price) * parseInt(item.qty);
                $subtotal = $subtotal + $subsubtotal;

                if( typeof(item.item_weight) == 'undefined' || item.item_weight == null ){
                    item.item_weight = 1000;
                }

                let $sub_weight = parseInt(item.qty) * parseInt(item.item_weight);
                /*if(item.item_ongkir === '0' || isDineIn === 'dinein'){
                    $sub_weight = 0;
                    $cart_ongkir = 0;
                }*/

                $weight = $weight + $sub_weight;
            })
            $cart.querySelector('.cart-content-items-list').innerHTML = $items_list;

            if(isDineIn === 'dinein'){
                $cart_ongkir = 0;
                $('#slim-select').empty()
                $('#choose-ongkir').empty()
                let $ongkir_field = $cart.querySelector('#choose-ongkir');
                $ongkir_field.options.add(new Option('Pilih Kurir kesayangan anda', ''));
            }

            if( main.store_ongkir_enable ){
                let $ongkirr = '';
                if( main.store_ongkir_provider == 'rajaongkir' ){
                }else{
                    $ongkirr = main.currency.format($cart_ongkir);
                }

                $weight = $weight / 1000;
                $detail_template = $detail_template.replace('{subtotal}', main.currency.format($subtotal));
                $detail_template = $detail_template.replace('{weight}', $weight + ' Kg');
                $detail_template = $detail_template.replace('{ongkir}', main.currency.format($cart_ongkir));
                $total = parseInt($subtotal) + parseInt($cart_ongkir);
                $detail_template = $detail_template.replace('{total}', main.currency.format($total));
            }else{
                $detail_template = $detail_template.replace('{subtotal}', main.currency.format($subtotal));
                $total = parseInt($subtotal);
            }

            $cart.querySelector('.cart-content-detail-list').innerHTML = $detail_template;
            FoodPress.cartButtonQty();

            return true;
        }else{
            return false;
        }
    },
    openCart: function(){
        let $cart = d.getElementById('cart');
        if( typeof($cart) != 'undefined' && $cart != null ){
            let $is_cart_exists = FoodPress.loadCart();
            if( $is_cart_exists ){
                $cart.style.display = 'block';
                b.style.overflow = 'hidden';
                $cart.querySelector('.back').onclick = function(){
                    FoodPress.closeCart();
                }
                $cart.querySelector('#submit').onclick = function(){
                    FoodPress.submitCart();
                }
                $cart.querySelector('input[name="name"]').onkeyup = function(){
                    this.style.border = '1px solid #ccc';
                }
                $cart.querySelector('input[name="phone"]').onkeyup = function(){
                    this.style.border = '1px solid #ccc';
                }
                $cart.querySelector('input[id="jam"]').onchange = function(){
                    this.style.border = '1px solid #ccc';
                }
                $cart.querySelector('select[id="viaPembayaran"]').onchange = function(){
                    this.style.border = '1px solid #ccc';
                }
                $cart.querySelector('textarea[name="address"]').onkeyup = function(){
                    this.style.border = '1px solid #ccc';
                }
                if( main.store_ongkir_enable && main.store_ongkir_provider == 'rajaongkir' ){
                    $cart.querySelector('.ss-main').onclick = function(){
                        $cart.querySelector('.ss-single-selected').style.border = '1px solid #ccc';
                    }
                    $cart.querySelector('#choose-ongkir').onchange = function(){
                        this.style.border = '1px solid #ccc';
                    }
                }
            }else{
                $cart.style.display = 'none';
                b.style.overflow = 'auto';
            }
        }
    },
    closeCart: function(){
        d.getElementById('cart').style.display = 'none';
        b.style.overflow = 'auto';
    },
    submitCart: function(){
        let $cart = d.getElementById('cart');
        if( typeof($cart) != 'undefined' && $cart != null ){

            let $valid = true,
            $e_name = $cart.querySelector('input[name="name"]'),
            $e_phone = $cart.querySelector('input[name="phone"]'),
            $e_jam = $cart.querySelector('input[name="jam"]'),
            $e_address = $cart.querySelector('textarea[name="address"]'),
            $e_phone_stripped = $e_phone.value.replace(/\D/g,''),
            $e_metode_kirim = document.getElementById("choose-kirim").value,
            $c_note = $cart.querySelector('textarea[name="note"]').value,
            kotaId = document.getElementById("slim-select");
            
            $ongkir = "";
            let ongkirName = "";
            if( $e_name.value == '' ){
                $valid = false;
                $e_name.style.border = '1px solid red';
            }
            if( $e_phone.value == '' || $e_phone_stripped <= 9 ){
                $valid = false;
                $e_phone.style.border = '1px solid red';
            }
            $viaBayar = $cart.querySelector('select[id="viaPembayaran"]');
            if( $viaBayar.value == '' ){
                $valid = false;
                $viaBayar.style.border = '1px solid red';
            }
            
            if($e_metode_kirim == 'kirim'){
                if( $e_address.value == '' ){
                    $valid = false;
                    $e_address.style.border = '1px solid red';
                }
                
                $district_id = $cart.querySelector('input[name="district_id"]');
                if( $district_id.value == '' ){
                    $valid = false;
                    $cart.querySelector('.ss-single-selected').style.border = '1px solid red';
                }

                /*$ongkir = $cart.querySelector('#choose-ongkir');
                if( $ongkir.value == '' ){
                    $valid = false;
                    $ongkir.style.border = '1px solid red';
                }
                let el = document.getElementById('choose-ongkir');
                ongkirName = el.options[el.selectedIndex].innerHTML;*/
            }else{
                if( $e_jam.value == '' ){
                    $valid = false;
                    $e_jam.style.border = '1px solid red';
                };
            }
            
            if( $valid ){
                //FoodPress.sendServer();
                $cart_name = 'cart_' + main.store_id,
                $cart_items = localStorage.getItem($cart_name) ? JSON.parse(localStorage.getItem($cart_name)) : [];
                FoodPress.sendWA(); 
                let pelangganProdukId = [];
                
                $cart_items.forEach( function(item, i, object) {
                    for (i = 0; i < item.qty ; i++) {
                        pelangganProdukId.push(parseInt(item.item_id));
                        
                    }    
                })

                fetch('/cartSendServer', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        idUser: parseInt(22),
                        via: $viaBayar.value,
                        jenisTransaksi: parseInt(3),
                        kurirName: ongkirName,
                        kurirHarga: $ongkir.value,
                        idProvinsi: 0,
                        idKota: parseInt(kotaId.value),
                        idKecamatan: 0,
                        detailAlamat: $e_address.value,
                        pelangganNama: $e_name.value,
                        pelangganWa: $e_phone.value,
                        pelangganMetodeKirim: $e_metode_kirim,
                        pelangganJamDineIn: $e_jam.value,
                        pelangganPesanKePenjual: $c_note,
                        pelangganProdukId: pelangganProdukId,
                        hostId: window.location.host,
                    })
                })
                .then(response => response.json())
                .then((response) => {
                if(response.success){
                    
                }else{
                    var keterangan = "";
                    $.each( response.errors, function( key, value ) {
                    keterangan += value.msg + "\n";
                    alert(value.msg)
                    });
                    //alert(keterangan)
                }
                $(this).prop("disabled", false);
                $(this).html(
                    `<span aria-hidden="false"></span> Add Data`
                );
                });
            }
        }
    },
    sendServer: function(){
        
    },
    sendWA: function(){
        let $wa = 'https://web.whatsapp.com/send',
        ajax = new XMLHttpRequest(),
        $total = 0,
        $subtotal = 0,
        $order_detail = '',
        $number = 0,
        $cart_name = 'cart_' + main.store_id,
        $cart_items = localStorage.getItem($cart_name) ? JSON.parse(localStorage.getItem($cart_name)) : [],
        $cart_ongkir = localStorage.getItem('cart_ongkir') ? parseInt(localStorage.getItem('cart_ongkir')) : parseInt(main.store_ongkir),
        $cart_ongkir_name = localStorage.getItem('cart_ongkir_name') ? localStorage.getItem('cart_ongkir_name') : 'flatongkir',
        $cart = d.getElementById('cart'),
        $inputs = {},
        $c_name = $cart.querySelector('input[name="name"]').value,
        $c_phone = $cart.querySelector('input[name="phone"]').value,
        $c_address = $cart.querySelector('textarea[name="address"]').value,
        $c_district = $cart.querySelector('input[name="district_name"]'),
        $c_note = $cart.querySelector('textarea[name="note"]').value,
        $c_district_name = '';

        if( typeof($c_district) != 'undefined' && $c_district != null ){
            $c_district_name = $c_district.value;
        }

        if( $cart_items.length > 0 ){
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $wa = 'whatsapp://send';
            };

            $cart_items.forEach( function(item, i) {
                let $subsubtotal = parseInt(item.item_price) * parseInt(item.qty);
                $subtotal = $subtotal + $subsubtotal;

                $number = i + 1;
                $number = $number + '. ';

                $freeOngkir = "";
                $dineIn = "";
                if(item.item_ongkir === '0'){
                    //$freeOngkir = '<span class="price">Free Ongkir</span>';
                }

                $order_detail += '%0A*' + $number + item.item_name + '* %0A';
                $order_detail += '  Quantity : ' + item.qty + ' pcs%0A';
                $order_detail += '  Harga (@) : ' + main.currency.format(item.item_price) + ' %0A';
                $order_detail += '  Total Harga : ' + main.currency.format($subsubtotal) + ' %0A';
                $order_detail += $freeOngkir + ' %0A';
            });

            $order_detail += '%0A*Pesan :* ' + $c_note + '%0A';

            if( main.store_ongkir_enable ){
                $order_detail += '%0ASub Total : *' + main.currency.format($subtotal) + '*%0A';
                //$order_detail += 'Ongkir : *' + main.currency.format($cart_ongkir) + '* '+$cart_ongkir_name+'%0A';
                $order_detail += 'Ongkir : ' + main.currency.format($cart_ongkir) + '*%0A'; 
                $total = $cart_ongkir + parseInt($subtotal);
                $order_detail += 'Total : *' + main.currency.format($total) + '*%0A';
            }else{
                $total = parseInt($subtotal);
                $order_detail += 'Total : *' + main.currency.format($total) + '*%0A';
            }

            let urlOld = $wa + '?phone=' + main.store_admin_phone + '&text=' + main.store_opened_message + '.%0A' + $order_detail + '--------------------------------%0A%0A%0A*Nama :*%0A' + $c_name + ' ( ' + $c_phone + ' ) %0A%0A*Alamat :*%0A' + $c_address.replace(/(\r\n|\n|\r)/gm,'%0A') + '%0A%0A' +'Via ' + location.href;
            let url = $wa + '?phone=' + main.store_admin_phone + '&text=%0A' + 'Saya * Ulil *%0A%0A ' + '💬  OKOKOKOKOKOK %0A%0A ' + 'Via ' + location.href;

            let w = 960,
            h = 540,
            left = Number((screen.width / 2) - (w / 2)),
            top = Number((screen.height / 2) - (h / 2)),
            popupWindow = window.open(urlOld, '', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=1, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            popupWindow.focus();

            localStorage.removeItem($cart_name);
            FoodPress.closeCart();
            FoodPress.loadBasket();
            return false;
        }else{
            FoodPress.closeCart();
        }
    },
    openSupportWa: function(){
        let $toggle = d.getElementById('support-wa-toggle');

        if( typeof($toggle) != 'undefined' && $toggle != null ){
            $toggle.onclick = function(){
                let $wabox = d.getElementById('support-wa');
                $wabox.classList.add('open');

                FoodPress.supportWa();
                FoodPress.closeSupportWa();
            }
        }

    },
    closeSupportWa: function(){
        let $toggle = d.getElementById('support-wa-toggle');
        if( typeof($toggle) != 'undefined' && $toggle != null ){
            $toggle.onclick = function(){
                let $wabox = d.getElementById('support-wa');
                $wabox.classList.remove('open');

                FoodPress.openSupportWa();
            }
        }

    },
    supportWa: function(){
        let $form = d.getElementById('support-wa').querySelector('form');
        $form.onsubmit = function(){
            let $data = $form.elements,
            $wa = 'https://web.whatsapp.com/send',
            $inputs = {};

            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $wa = 'whatsapp://send';
            }

            for (let i = 0; i < $data.length; i++) {
                let $key = $data[i].name;
                if( $key !== '' ){
                    $inputs[$key] = $data[i].value;
                }
            }

            let $message = $inputs.message.replace(/\n/g, '%0A');

            let $url = $wa + '?phone=' + main.store_admin_phone + '&text=%0A' + 'Saya *' + $inputs.name + '*%0A%0A ' + '💬 ' + $message + '%0A%0A ' + 'Via ' + location.href;

            let w = 960,h = 540,left = Number((screen.width / 2) - (w / 2)),top = Number((screen.height / 2) - (h / 2)),popupWindow = window.open($url, '', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=1, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

            popupWindow.focus();

            return false;
        }
    }
}

FoodPress.init();

}(window, document));

window.addComment=function(a){function b(){c(),g()}function c(a){if(t&&(m=j(r.cancelReplyId),n=j(r.commentFormId),m)){m.addEventListener("touchstart",e),m.addEventListener("click",e);for(var b,c=d(a),g=0,h=c.length;g<h;g++)b=c[g],b.addEventListener("touchstart",f),b.addEventListener("click",f)}}function d(a){var b,c=r.commentReplyClass;return a&&a.childNodes||(a=q),b=q.getElementsByClassName?a.getElementsByClassName(c):a.querySelectorAll("."+c)}function e(a){var b=this,c=r.temporaryFormId,d=j(c);d&&o&&(j(r.parentIdFieldId).value="0",d.parentNode.replaceChild(o,d),b.style.display="none",a.preventDefault())}function f(b){var c,d=this,e=i(d,"belowelement"),f=i(d,"commentid"),g=i(d,"respondelement"),h=i(d,"postid");e&&f&&g&&h&&(c=a.addComment.moveForm(e,f,g,h),!1===c&&b.preventDefault())}function g(){if(s){var a={childList:!0,subTree:!0};p=new s(h),p.observe(q.body,a)}}function h(a){for(var b=a.length;b--;)if(a[b].addedNodes.length)return void c()}function i(a,b){return u?a.dataset[b]:a.getAttribute("data-"+b)}function j(a){return q.getElementById(a)}function k(b,c,d,e){var f=j(b);o=j(d);var g,h,i,k=j(r.parentIdFieldId),p=j(r.postIdFieldId);if(f&&o&&k){l(o),e&&p&&(p.value=e),k.value=c,m.style.display="",f.parentNode.insertBefore(o,f.nextSibling),m.onclick=function(){return!1};try{for(var s=0;s<n.elements.length;s++)if(g=n.elements[s],h=!1,"getComputedStyle"in a?i=a.getComputedStyle(g):q.documentElement.currentStyle&&(i=g.currentStyle),(g.offsetWidth<=0&&g.offsetHeight<=0||"hidden"===i.visibility)&&(h=!0),"hidden"!==g.type&&!g.disabled&&!h){g.focus();break}}catch(t){}return!1}}function l(a){var b=r.temporaryFormId,c=j(b);c||(c=q.createElement("div"),c.id=b,c.style.display="none",a.parentNode.insertBefore(c,a))}var m,n,o,p,q=a.document,r={commentReplyClass:"comment-reply-link",cancelReplyId:"cancel-comment-reply-link",commentFormId:"commentform",temporaryFormId:"wp-temp-form-div",parentIdFieldId:"comment_parent",postIdFieldId:"comment_post_ID"},s=a.MutationObserver||a.WebKitMutationObserver||a.MozMutationObserver,t="querySelector"in q&&"addEventListener"in a,u=!!q.documentElement.dataset;return t&&"loading"!==q.readyState?b():t&&a.addEventListener("DOMContentLoaded",b,!1),{init:c,moveForm:k}}(window);
    </script>
</footer>
