<header>
	<div class="site-header">
		<div class="wrapper">
			<div class="headerbox">
				<div class="logo-img">
					<a href="/">
						<img class="lazy" id="headerLogo" alt="Logo" width="auto" height="auto">
					</a>
				</div>
				<div class="searchbox">
					<form method="get" action="#">
						<input type="search" id="form-search" placeholder="Cari Disini" >
						<button type="submit">
							<i class="lni lni-search"></i>
						</button>
					</form>
				</div>
			</div>
			<nav id="navigation" class="navigation">
				<button type="button" onclick="loadDataCari()" class="btn btn-outline-success btn-sm">Filter</button>
				<div id="menu-header" class="menu-header"></div>
			</nav>
		</div>
	</div>
</header>