 <div id="primary" class="content-area">
  <div class="index">
    <div class="wrapper">
      <div class="slider">
        <div class="slide">
          <img class="tns-lazy-img" id="bannerImage" style="opacity: 1">
       </div>
      </div>
    </div>
  </div>

  <div class="index">
    <div class="wrapper">
      <div id="category-slide" class="slide-categorybox">
        <div class="arrow arrow-left">
          <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="left" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8a31.86 31.86 0 0 0 0 50.3l450.8 352.1c5.3 4.1 12.9.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path></svg>
        </div>
        <div class="slide-category pdk-category">
        </div>
        <div class="arrow arrow-right">
          <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="right" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M765.7 486.8L314.9 134.7A7.97 7.97 0 0 0 302 141v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1a31.96 31.96 0 0 0 0-50.4z"></path></svg>
        </div>
      </div>
    </div>
  </div>
  
  <main id="main" class="query pdk-main">
  </main>
</div>

<script>
  $(document).ready(function(){
    fetch('/data?host='+window.location.host) 
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        var link = document.querySelector("link[rel~='icon']");
        if (!link) {
            link = document.createElement('link');
            link.rel = 'icon';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
        main.store_admin_phone = response.data.User.noTelp;
        
	let namaKota = '';
        let provinsi = '';
        if(null != response.data.User.kota){
                namaKota = response.data.User.kota.namaKota;
                provinsi = response.data.User.kota.provinsi.provinsiName;
        }

        $("#addressPenjual").val(namaKota + ", " + provinsi);
        
        $('<p>untuk lebih jelasnya langsung Wa di '+response.data.User.noTelp+'</p>').appendTo('.address');
        $('#headerLogo').attr('src', response.data.pathLogo);
        $('#bannerImage').attr('src', response.data.Banners[0].src);
        link.href = response.data.pathLogo;
       
	$('<a href="'+response.data.User.web.facebook+'" target="_blank">'+
              '<i class="lni lni-facebook"></i>'+
          '</a>'+
          '<a href="'+response.data.User.web.instagram+'" target="_blank">'+
              '<i class="lni lni-instagram"></i>'+
          '</a>').appendTo('.social');
 
        var no = 0;
        $.each( response.data.Category, function( key, value ) {
          $( ".pdk-category" ).append( "<div class='categorybox lazy' style='background-image: url(http://pesan.lazizaa.com/wp-content/uploads/2020/08/banner-website-new-normal-new-taste.jpg)';"+ 
          "data-bg=url('/public/wp-content/uploads/2020/08/banner-website-new-normal-new-taste.jpg')>"+
          "<a onclick='loadByGroup("+value.id+")'> "+value.nama+" </a> </div>" );
        });

        let content = '';
        $.each( response.data.Data, function( key, value ) {
          content +=
          '<div class="wrapper products-list">' + '<div class="products-list-title">' + '<h2>'+value.category+'</h2></div>' +
            '<div class="products clear">';
              $.each( value.lData, function( key1, lData ) {
                let promo = '';
                if(lData.promo === 1){
                  promo = '<span class="ribbon">Promo</span>';
                }
                content +=
                '<article id="product-'+lData.id+'" class="productbox">'+
                  '<div class="content">'+
                    '<div class="image">'+
                      '<img class="lazy" src="'+lData.image+'"/>'+ promo +  
                    '</div>'+
                    '<div class="detail">'+
                      '<h3><a href="/produkDetail?id='+lData.id+'" rel="bookmark">'+lData.name+'</a></h3>'+
                      '<div class="desc">'+
                        '<p>'+lData.keterangan+'</p>'+
                      '</div>'+
                      '<div class="pricing">'+
                        '<span class="price">'+lData.strHarga+'</span> <span class="price-slik">'+lData.strHargaCoret+'</span>'+
                      '</div>'+
                      '<div class="atc atc-item-'+lData.id+' clear">'+
                        '<input type="hidden" name="store_id" value="999999"/>'+
                        '<input type="hidden" name="item_id" value="'+lData.id+'"/>'+
                        '<input type="hidden" name="item_image" value="'+lData.image+'"/>'+
                        '<input type="hidden" name="item_name" value="'+lData.name+'"/>'+
                        '<input type="hidden" name="item_price" value="'+lData.harga+'"/>'+
                        '<input type="hidden" name="item_weight" value="'+lData.weight+'"/>'+
                        '<input type="hidden" name="item_ongkir" value="'+lData.isOngkir+'"/>'+
                        '<input type="hidden" name="item_dineIn" value="'+lData.dineIn+'"/>'+
                        '<input type="hidden" name="item_price_slik" value="'+lData.hargaCoret+'"/>'+
                        '<input type="hidden" name="note" value=""/>'+
                        '<button class="add button-add">Tambah</button>'+
                        '<div class="qty qty-selector clear">'+
                          '<button type="button" class="minus button-qty" data-qty-action="minus">-</button>'+
                          '<input min="0" type="number" value="0" name="qty">'+
                          '<button type="button" class="plus button-qty" data-qty-action="plus">+</button>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                  '</div>'+
                '</article>'; 
              });
            content +=
            '</div>'+
          '</div>';
          //alert(value.category);
        });
        
        $(".pdk-main").append(content)
        FoodPress.init();
      }else{
        let keterangan = response.message;
        alert(keterangan) 
      }
    }); 

    window.loadDataCari = function(){
      let filterString = document.getElementById("form-search").value;
      fetch('/group?host='+window.location.host+'&id=&cari=' + filterString) 
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          var no = 0;
          $( ".pdk-category" ).empty();
          $.each( response.data.Category, function( key, value ) {
            $( ".pdk-category" ).append( "<div class='categorybox lazy' style='background-image: url(http://pesan.lazizaa.com/wp-content/uploads/2020/08/banner-website-new-normal-new-taste.jpg)';"+ 
            "data-bg=url('/public/wp-content/uploads/2020/08/banner-website-new-normal-new-taste.jpg')>"+
            "<a onclick='loadByGroup("+value.id+")'> "+value.nama+" </a> </div>" );
          });

          let content = '';
          $.each( response.data.Data, function( key, value ) {
            content +=
            '<div class="wrapper products-list">' + '<div class="products-list-title">' + '<h2>'+value.category+'</h2></div>' +
              '<div class="products clear">';
                $.each( value.lData, function( key1, lData ) {
                  let promo = '';
                  if(lData.promo === 1){
                    promo = '<span class="ribbon">Promo</span>';
                  }
                  content +=
                  '<article id="product-'+lData.id+'" class="productbox">'+
                    '<div class="content">'+
                      '<div class="image">'+
                        '<img class="lazy" src="'+lData.image+'"/> '+ promo + 
                      '</div>'+
                      '<div class="detail">'+
                        '<h3><a href="/produkDetail?id='+lData.id+'" rel="bookmark">'+lData.name+'</a></h3>'+
                        '<div class="desc">'+
                          '<p>'+lData.keterangan+'</p>'+
                        '</div>'+
                        '<div class="pricing">'+
                          '<span class="price">'+lData.strHarga+'</span> <span class="price-slik">'+lData.strHargaCoret+'</span>'+
                        '</div>'+
                        '<div class="atc atc-item-'+lData.id+' clear">'+
                          '<input type="hidden" name="store_id" value="999999"/>'+
                          '<input type="hidden" name="item_id" value="'+lData.id+'"/>'+
                          '<input type="hidden" name="item_image" value="'+lData.image+'"/>'+
                          '<input type="hidden" name="item_name" value="'+lData.name+'"/>'+
                          '<input type="hidden" name="item_price" value="'+lData.harga+'"/>'+
                          '<input type="hidden" name="item_weight" value="'+lData.weight+'"/>'+
                          '<input type="hidden" name="item_ongkir" value="'+lData.isOngkir+'"/>'+
                          '<input type="hidden" name="item_dineIn" value="'+lData.dineIn+'"/>'+
                          '<input type="hidden" name="item_price_slik" value="'+lData.hargaCoret+'"/>'+
                          '<input type="hidden" name="note" value=""/>'+
                          '<button class="add button-add">Tambah</button>'+
                          '<div class="qty qty-selector clear">'+
                            '<button type="button" class="minus button-qty" data-qty-action="minus">-</button>'+
                            '<input min="0" type="number" value="0" name="qty">'+
                            '<button type="button" class="plus button-qty" data-qty-action="plus">+</button>'+
                          '</div>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                  '</article>'; 
                });
              content +=
              '</div>'+
            '</div>';
            //alert(value.category);
          });
          $(".pdk-main").empty();
          $(".pdk-main").append(content)
          FoodPress.init();
        }else{
          let keterangan = response.message;
          alert(keterangan) 
        }
      }); 
    }
    
    window.loadByGroup = function(id){
      fetch('/group?host='+window.location.host+'&id=' + id) 
      .then(response => response.json())
      .then((response) => {
        if(response.success){
          var no = 0;
          $( ".pdk-category" ).empty();
          $.each( response.data.Category, function( key, value ) {
            $( ".pdk-category" ).append( "<div class='categorybox lazy' style='background-image: url(http://pesan.lazizaa.com/wp-content/uploads/2020/08/banner-website-new-normal-new-taste.jpg)';"+ 
            "data-bg=url('/public/wp-content/uploads/2020/08/banner-website-new-normal-new-taste.jpg')>"+
            "<a onclick='loadByGroup("+value.id+")'> "+value.nama+" </a> </div>" );
          });

          let content = '';
          $.each( response.data.Data, function( key, value ) {
            content +=
            '<div class="wrapper products-list">' + '<div class="products-list-title">' + '<h2>'+value.category+'</h2></div>' +
              '<div class="products clear">';
                $.each( value.lData, function( key1, lData ) {
                  let promo = '';
                  if(lData.promo === 1){
                    promo = '<span class="ribbon">Promo</span>';
                  }
                  content +=
                  '<article id="product-'+lData.id+'" class="productbox">'+
                    '<div class="content">'+
                      '<div class="image">'+
                        '<img class="lazy" src="'+lData.image+'"/> '+ promo + 
                      '</div>'+
                      '<div class="detail">'+
                        '<h3><a href="/produkDetail?id='+lData.id+'" rel="bookmark">'+lData.name+'</a></h3>'+
                        '<div class="desc">'+
                          '<p>'+lData.keterangan+'</p>'+
                        '</div>'+
                        '<div class="pricing">'+
                          '<span class="price">'+lData.strHarga+'</span> <span class="price-slik">'+lData.strHargaCoret+'</span>'+
                        '</div>'+
                        '<div class="atc atc-item-'+lData.id+' clear">'+
                          '<input type="hidden" name="store_id" value="999999"/>'+
                          '<input type="hidden" name="item_id" value="'+lData.id+'"/>'+
                          '<input type="hidden" name="item_image" value="'+lData.image+'"/>'+
                          '<input type="hidden" name="item_name" value="'+lData.name+'"/>'+
                          '<input type="hidden" name="item_price" value="'+lData.harga+'"/>'+
                          '<input type="hidden" name="item_weight" value="'+lData.weight+'"/>'+
                          '<input type="hidden" name="item_ongkir" value="'+lData.isOngkir+'"/>'+
                          '<input type="hidden" name="item_dineIn" value="'+lData.dineIn+'"/>'+
                          '<input type="hidden" name="item_price_slik" value="'+lData.hargaCoret+'"/>'+
                          '<input type="hidden" name="note" value=""/>'+
                          '<button class="add button-add">Tambah</button>'+
                          '<div class="qty qty-selector clear">'+
                            '<button type="button" class="minus button-qty" data-qty-action="minus">-</button>'+
                            '<input min="0" type="number" value="0" name="qty">'+
                            '<button type="button" class="plus button-qty" data-qty-action="plus">+</button>'+
                          '</div>'+
                        '</div>'+
                      '</div>'+
                    '</div>'+
                  '</article>'; 
                });
              content +=
              '</div>'+
            '</div>';
            //alert(value.category);
          });
          $(".pdk-main").empty();
          $(".pdk-main").append(content)
          FoodPress.init();
        }else{
          let keterangan = response.message;
          alert(keterangan) 
        }
      }); 
    }
  });
</script>

