<div id="primary" class="content-area">
  <main id="main" class="site-main">
    <div class="wrapper">
      <article id="post-14977" class="clear post-14977 product type-product status-publish has-post-thumbnail hentry product-category-super-hemat">
        <div class="content">
          <div class="image">
            <img class="lazy" data-src="{{image}}"/>
              <span class="{{promo}}">Promo</span>
          </div>

          <div class="detail clear">
            <h1>{{nama}}</h1>
            <div class="desc">
              <p>{{keterangan}}</p>
            </div>
            <div class="pricing">
              <span class="price">{{strHarga}}</span> <span class="price-slik">{{hargaCoret}}</span>			</div>
            <div id="atc-item-{{id}}" class="atc clear">
              <input type="hidden" name="store_id" value="999999"/>
              <input type="hidden" name="item_id" value="{{id}}"/>
              <input type="hidden" name="item_image" value="{{image}}"/>
              <input type="hidden" name="item_name" value="{{nama}}"/>
              <input type="hidden" name="item_price" value="{{harga}}"/>
              <input type="hidden" name="item_weight" value="1000"/>
              <input type="hidden" name="item_price_slik" value="{{strHargaCoret}}"/>
              <input type="hidden" name="note" value=""/>
                        <button class="add button-add">Tambah</button>
                      <div class="qty qty-selector clear">
                <button type="button" class="minus button-qty" data-qty-action="minus">-</button>
                <input min="0" type="number" value="0" name="qty">
                <button type="button" class="plus button-qty" data-qty-action="plus">+</button>
              </div>
              {{!-- pesan.lazizaa.com/product/5-ayam-krispy-lazizaa-ukuran-besar/ --}}
            </div>
            <!--<div class="share clear">
              <a class="share-button share-fb" target="blank" href="https://www.facebook.com/sharer/sharer.php?u=https://rumahkios.com/produkDetail?id={{id}}/">
                <i class="lni lni-facebook"></i>
              </a>
              <a class="share-button share-wa" target="_blank" href="https://api.whatsapp.com/send?text={{nama}} https://rumahkios.com/produkDetail?id={{id}}/">
                <i class="lni lni-whatsapp"></i>
              </a>
            </div>-->
          </div>
      </article>
    </div>
  </main><!-- #main -->
</div><!-- #primary -->

<script>
  $(document).ready(function(){
    fetch('/data?host='+window.location.host) 
    .then(response => response.json())
    .then((response) => {
      if(response.success){
        $('#headerLogo').attr('src', response.data.pathLogo);
      }else{
        let keterangan = response.message;
        alert(keterangan) 
      }
    }); 
  });
</script>
